.emptyContainer{
    height: 570px;
    
}
.emptyContainerBody{
    margin: 10% auto;
    width: 50%;
    border-radius: 8px;
    border: 1px solid var(--uplers-border-color);
    text-align: center;
}

.exploreMore{
    font-size: .8vw;
    font-weight: 600;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    width: 30%;
    padding: 10px 0;
    cursor: pointer;
   margin: 30px auto;
}
.noProfileSelected{
    margin-top: 5%;
}