.hiringRequestContainer {
    padding: 24px 40px;
}

.snapshotContainer {
    padding: 20px;
  }
  
  .metricsSection {
    margin-top: 30px;
  }
  
  .metricsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
  }
  
  .metricsTable th,
  .metricsTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .metricsTable th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  


@media only screen and (max-width: 1440px) {
    .hiringRequestContainer {
        padding: 16px 24px;
    }
}