.formField {
    width: 100%;
    margin: 0 0 32px;
}

.formField label {
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #676767;
    margin: 0 0 8px;
    display: inline-block;
}

.inputBox {
    /* text-align: left; */
    position: relative;
}

.disabled{
    /* opacity:.7; */
    cursor:not-allowed !important;
    /* color: rgba(36, 36, 36, 0.2) !important; 
    background-color: rgba(186, 186, 186, 0.2) !important; */

    color: rgba(36, 36, 36, 0.35) !important;
    background-color: rgba(255, 255, 255, 0.55) !important;
    border-color: rgba(206, 204, 204, 0.6) !important;
}
.inputBoxError .inputfield {
    border: 1px solid var(--danger-color);
    outline-color: var(--danger-color);
}

.inputfield {
    text-align: left;
    width: 100%;
    padding: 16px 16px;
    background: var(--background-color-light);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--uplers-black);
    outline: 1px solid transparent;
    transition: all 0.25s ease 0s;
    vertical-align: middle;
}

.inputfield::-webkit-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.inputfield::-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.inputfield:-ms-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.inputfield:-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.inputfield:focus {
    outline-color: var(--color-sunlight);
    border-color: var(--color-sunlight);
}

.leadingIcon {

    position: absolute;
    top: 19px;
    left:5px;
    /* width: 16px; */
    margin:0px 10px;
}
.trailingIcon {

    position: absolute;
    top: 19px;
    right: 5px;
   
    margin: 0px 10px;
}
.error {
    color: var(--danger-color);
    font-size: var(--fontsize-tough);
}
.reqField {
    /* color: var(--uplers-black); */
    color: #E03A3A;
    font-weight: 700;
    font-size: 14px;
    margin-left: 4px;
}

.btnLabel{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--uplers-black);
    position: absolute;
    left: 41px;
    top: 17px;
}

@media screen and (max-width: 1440px) {
    .formField label{
        font-size: 12px;
    }
}