.talentProfileContainer {
    width: 100%;   
}
.talentCard {
    border-radius: 8px;
    background-color: var(--background-color-light);
    height: calc(100% - 58px);
}
.talentCardBody {
    width: 98%;
    margin: 0 auto;
    padding: 20px 0;
}



