.talentProfileContainer {
    width: 100%;   
}
.talentCard {
    border-radius: 8px;
    background-color: var(--background-color-light);
    height: calc(100% - 58px);
}
.talentCardBody {
    width: 98%;
    margin: 0 auto;
    padding: 20px 0;
}




.matchmakeButtonOutline {
    background: var(--background-color-light);
    border: 1px solid #FFDA30;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #232323;
    padding: 13px 16px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 10px;
}

.disabledTransparentBtnGroup {
    background: var(--background-color-light);
    border: 1px solid #FFDA30;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #232323;
    padding: 13px 16px;
    outline: none;
    transition: all 0.35s ease 0s;
    opacity: .5;
    cursor: no-drop;
    box-shadow: none;
    margin-bottom: 10px;

}

.btnPrimaryOutline {
    background: var(--background-color-light);
    border: 1px solid #FFDA30;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #232323;
    padding: 13px 16px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.matchmakeButtonOutline:hover,
.btnPrimaryOutline:hover,
.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}