.hiringRequestPriority {
    background-color: var(--background-color-light);
    border: 2px solid var(--uplers-border-color);
    padding: 10px 15px;
    border-radius: 8px;
}
.formPanelAction {
   
    padding: 32px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    display: flex;
    width: 1176px
}

.formPanelAction button {
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
}

.formPanelAction .btnPrimary {
    background: #FFDA30;
    border-color: #FFDA30;
}

.formPanelAction button+button {
    margin-left: 16px;
}

.searchFilterSet {
    margin-right: 25px;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    width: 276px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.searchInput {
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}
.matchmakingTable {
   cursor: pointer;
    border-collapse: collapse;
    width: 100%;
    max-height: 100px !important;
}
.td{
    padding: 21px 20px;
    text-align: start;
    /* text-overflow: ellipsis; */
    border-bottom: 1px solid var(--uplers-grey) !important;
    
}
.ellipsis{
    white-space: nowrap;
    width: 130px;   
    overflow: hidden;
    text-overflow: ellipsis;
}
.ml5{
    
    width: 10px;
   margin-left: 5px;
}
.th{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: var(--background-color-light);
    font-size: 14px !important;
    font-weight: 600;
    line-height: 17px !important;
    color: var(--uplers-black);
    border-bottom: 1px dashed var(--uplers-grey);
}
.checkBox{
    display: none;
        cursor: pointer;
        height: 0;
        width: 0;
}

.checkmark{
   
    top: 0;
        border-radius: 8px;
        left: 0;
        border: 1px solid grey;
        height: 25px;
        width: 25px;
        background-color: white;
}
