/******* Start myJobPosts.css *******/
.Filescopypaste__area .ql-container.ql-snow {
    height: 130px !important;
}

.Filescopypaste__area .ql-container.ql-snow .ql-editor {
    height: 95px !important;
    min-height: 85px;
}
.formFields{
    margin-top: 20px;
  }
  
  .formFields .label{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #232323;
    margin-bottom: 8px;
  }
  
  .formFields .label.error{
    color: #E03A3A;
    margin: 0 0 8px;
  }
  
/* Post New Job Modal Css Start */
.PostNewJobModal {
    margin: 24px 0;
}

.PostNewJobModal .ant-modal-close {
    top: 25px;
    right: 20px
}

.PostNewJobModal .ant-modal-content {
    border-radius: 16px;
    padding: 20px 0;
}

.PostNewJobModal .Post-Header h4 {
    color: #232323;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.PostNewJobModal .Post-Header p {
    color: #6B6B6B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.PostNewJobModal .credit-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-right: 15px;
}

.PostNewJobModal .credit-tabs .tab.green {
    background: #DFF8D0;
}

.PostNewJobModal .credit-tabs .tab.red {
    background: #FFE9E0;
}

.PostNewJobModal .credit-tabs .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: rgba(186, 186, 186, 0.20);
    padding: 5px 14px;
    flex-shrink: 0;
}

.PostNewJobModal .credit-tabs .tab p {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #232323;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.PostNewJobModal .credit-tabs .tab b {
    font-weight: 600;
}

.PostNewJobModal .ant-modal-footer {
    margin: 0;
    padding: 0;
}

.PostNewJobModal .PostNewJobModal-Content {
    padding: 0 50px;
    overflow-y: auto;
}

.PostNewJobModal .ImageDragdropCustom .fileUpload {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: transparent;
}

.PostNewJobModal .formFields .form-group label .StarRed {
    color: #B60707;
}

.PostNewJobModal .PostNewJobModal-Content .ant-select-selection-placeholder {
    padding-left: 0;
    left: 16px;
    right: 16px;
}

.customradio.newradiodes label.ant-radio-button-wrapper .checkIcon {
    margin-left: 6px;
    display: none;
    vertical-align: -3px;
}

.customradio.newradiodes .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) .checkIcon {
    display: inline-flex;
}

.customradio.newradiodes .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.customradio.newradiodes .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active,
.customradio.newradiodes .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.customradio.newradiodes .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-radius: 24px;
    border: 1px solid #FFDA30;
    background: #FFF8D6;
    box-shadow: inherit;
}

.customradio.newradiodes .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) span {
    font-weight: 500;
}

.customradio.newradiodes label.ant-radio-button-wrapper {
    border-radius: 24px;
}

.customradio.newradiodes.small label.ant-radio-button-wrapper {
    font-size: 12px;
    height: 28px;
    white-space: nowrap;
}

.PostNewJobModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item {
    background: #DDF6ED;
}

.PostNewJobModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item {
    background: #DDF6ED;
}

.form-group.error .ql-container.ql-snow,
.form-group.error .ql-toolbar.ql-snow {
    border: 1px solid #f00;
}

.form-group.error .ql-toolbar.ql-snow {
    border-bottom: none;
}

.PostNewJobModal .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0px 0;
}

.PostNewJobModal .ql-container.ql-snow {
    border-radius: 0px 0px 8px 8px;
}
.formFields .form-group label {
    color: #676767;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.PreviewpageMainWrap .previewstepBox{
    background:#fbfbfb;
    border: 1px solid #67676752;
    margin: 0px 0 30px;
    border-radius: 16px;
    padding: 16px 24px;
}

.PreviewpageMainWrap .previewstepBox li{
    padding-left: 0px;
}

.previewstepBox li.canJobLocInfoBox{
    width: 100% !important;
    position: relative;
    padding-bottom: 10px;
}

.previewstepBox .canJobLocInfoBox:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: 0;
    left: -10px;
    background: #fff;
    border-radius: 0 8px 8px 8px;
    pointer-events: none;
}

.previewstepBox .canJobLocInfoBox .form-group{
    position: relative;
}

.previewstepBox .canJobLocInfoBox .mt-0{
    margin-top: 0 !important;
}

.canJobLocInfoBtn .downArrowBtn {
    width: 24px;
    height: 18px;
    background: #FFDA30;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 4px;
}

.canJobLocInfoBtn.showInfo .downArrowBtn img {
    transform: rotateX(180deg);
}

.canJobLocInfoBtn .downArrowBtn img {
    transition: all 0.35s ease 0s;
    min-width: 10px !important;
}

.previewHRModal .canJobLocInfoBox .ant-select .ant-select-selector>.ant-select-selection-search{
    left: 0;
}

.previewstepBox .canJobLocInfoInner{
    position: relative;
    z-index: 1;
}

.previewstepBox .canJobLocInfoInner:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -20px;
    left: -10px;
    background: #fff;
    border-radius: 8px 8px 0 0;   
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.previewstepBox .showInfo .canJobLocInfoInner:before {
    opacity: 1;
    visibility: visible;
}

.previewstepBox .canJobLocInfoBox .prevSkillTwopart {
    gap: 0;
}

.previewstepBox .canJobLocInfoBox .prevSkillTwopart .SlillBtnBox li {
    padding: 6px 14px;
    width: auto;
}

/* Post job Preview Css End */

.changeLocationSec .ant-select-single {
    height: 42px;
}

.changeLocationSec .ant-select-single .ant-select-arrow {
    margin-top: -2px;
}

.vitalInformationContent.preShareDetailsWrap {
    color: #6B6B6B;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .preShareDetailsWrap p {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin-bottom: 0;
  }
  
  .PostJobStepSecondWrap .preShareDetailsWrap h3{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600 !important;
    color:#232323;
  }
  
  .preShareDetailsWrap .preShareDetailsBox {
    gap: 24px;
    margin-top: 24px;
    flex-wrap: wrap;
    display: flex;
  }
  
  .preShareDetailsWrap p {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin-bottom: 0;
  }
  
  .PostJobStepSecondWrap .preShareDetailsWrap h3{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color:#232323;
  }
  
  .preShareDetailsWrap .preShareDetailsBox {
    gap: 24px;
    margin-top: 24px;
    flex-wrap: wrap;
    display: flex;
  }
  
  .preShareDetailsWrap .preShareDetailsBox .preShareDetailsItem {
    width: calc(50% - 12px);
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(35, 35, 35, 0.2);
    display: flex;
    word-break: break-word;
    position: relative;
    align-items: center;
  }
  
  .preShareDetailsBox .preShareDetailsItem .preShareDetailsAction {
    position: absolute;
    display: inline-flex;
    top: 12px;
    right: 12px;
  }
  
  .preShareDetailsItem .preShareDetailsAction .preShareDetailsBtn {
    width: 18px;
    height: 18px;
    border-radius: 30px;
    border: none;
    background: rgba(186, 186, 186, 0.2);
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    overflow: hidden;
  }
  
  .preShareDetailsItem .preShareDetailsAction .preShareDetailsBtn + .preShareDetailsBtn {
      margin-left: 8px;
  }
  
  .preShareDetailsBox .preShareDetailsItem .preShareDetailsImage {
    width: 75px;
    min-width: 75px;
    height: 75px;
    border-radius: 75px;
    overflow: hidden;
    background: #f7f7f7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
  }
  
  .preShareDetailsBox .preShareDetailsItem .preShareDetailsImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100px;
  }
  
  .preShareDetailsBox .preShareDetailsItem .preShareDetailsInfo {
    padding-left: 16px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #6B6B6B;
  }
  
  .preShareDetailsItem .preShareDetailsInfo h4 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #232323;
    margin: 0 0 6px;
  }

  .preShareDetailsItem .preShareDetailsInfo .form-group .fieldIcon {
    display: inline-flex;
    position: absolute;
    top: 8px;
    left: 12px;
    height: 16px;
    width: 16px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  .formFields-box img {
    max-width: 100%;
    }
img {
    vertical-align: middle;
    border-style: none;
}
  .preShareDetailsItem .preShareDetailsInfo .form-group .form-control {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    height: auto;
    color: #232323;
    border: 1px solid rgba(35, 35, 35, 0.2);
    transition: all 0.35s ease 0s;
    border-radius: 40px !important;
    padding: 8px 16px 8px 34px;
  }
  .preShareDetailsItem .preShareDetailsInfo ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .preShareDetailsItem .preShareDetailsInfo ul li {
    margin-bottom: 6px;
    gap: 8px;
    align-items: center;
    display: flex;
  }
  
  .preShareDetailsItem .preShareDetailsInfo a {
    color: #6B6B6B;
    text-decoration: underline;
    transition: all 0.35s ease 0s;
  }
  
  .preShareDetailsItem .preShareDetailsInfo ul li:last-child {
    margin-bottom: 0;
  }
  
  .preShareDetailsItem .preShareDetailsInfo a:hover {
    color: #232323;
    text-decoration: none;
  }

  .addMorePoc{
    text-decoration: underline;
    color: #1890ff !important;
    cursor: pointer;
  }


  .phonConturyWrap .PhoneInput{
    /* height: 50px; */
}

.phonConturyWrap .PhoneInputCountry{
    border: 1px solid #CECCCC;
    border-radius: 8px 0px 0 8px;
    width: 90px;
    justify-content: space-between;
    padding: 0 16px 0 24px;
    margin: 0;
    border-right: 0px;
}

.phonConturyWrap .PhoneInputInput{
    padding: 16px;
    border: 1px solid #CECCCC;
    border-radius: 0px 8px 8px 0px;
    height: 52px;
}

.phonConturyWrap .PhoneInputInput:focus{
    border: 1px solid #ffda30;
    box-shadow: inherit;
    outline: 0;
}

.phonConturyWrap .PhoneInputCountrySelectArrow{
    font-size: 24px;
    color: #232323;
    position: relative;
    top: -1px;
    left: -10px;
    opacity: 1;   
}

.phonConturyWrap .PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow{
    color: #232323;
}


/* new country npm css */

.phonConturyWrap{
    position: relative;
    z-index: 99;
}

.phonConturyWrap .react-tel-input .form-control{
    height: 55px;
    width: 100%;
    padding-left: 80px !important;
}

.phonConturyWrap .react-tel-input::after{
    content: "";
    position: absolute;
    top: 0;
    left: 66px;
    width: 1px;
    height: 100%;
    background: #CACACA;
}

.phonConturyWrap .react-tel-input .flag-dropdown{
    background-color: transparent;
    border: 0px;
    padding-left: 12px;
}

.phonConturyWrap .react-tel-input .selected-flag:hover, .phonConturyWrap .react-tel-input .selected-flag:focus, .phonConturyWrap .react-tel-input .flag-dropdown.open .selected-flag, .phonConturyWrap .react-tel-input .flag-dropdown.open{
    background-color: transparent;
    background: transparent;
}

.phonConturyWrap .react-tel-input .selected-flag .arrow{
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-top: -6px;
    left: 28px;
}

.phonConturyWrap .react-tel-input .selected-flag .arrow.up{
    border-bottom: 1px solid black;
}
  
/* Quick Update Modal Start */
.budgetSet {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    padding-bottom: 8px;
    padding-top: 12px;
    padding-left: 12px;
}

.budgetConfidential {
    display: flex;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.budgetConfidential .rightGreenIcon {
    width: 35px;
    height: 35px;
    padding-right: 5px;
    flex-shrink: 0;
    padding-left: 12px;
    display: inline-block;
}

.jobPostEditModal .ant-modal-body .ant-select-single {
    height: 42px;
}

.jobPostEditModal .ant-modal-body .ant-select-single .ant-select-selector .ant-select-selection-search-input {
    height: 40px !important;
    padding-left: 5px;
}

.btnPrimary:disabled {
    background: rgba(186, 186, 186, 0.2);
    color: rgba(35, 35, 35, 0.2);
    cursor: not-allowed;
}

.PostJobStepSecondWrap .formFields h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
}

.PostJobStepSecondWrap .formFields h3 span {
    color: #b60707;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    font-weight: 700;
}

.PostNewJobModal-Content.poup-new-content {
    padding: 0;
}

.customradio.newradiodes .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) span {
    font-weight: 600;
    color: #232323;
}

.customradio.newradiodes .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) span svg path {
    fill: #232323;
    color: #232323;
}

.PostNewJobModal .Post-Header {
    padding: 19px 58px 5px 58px;
}

.Filescopypaste__area textarea {
    height: 210px;
    min-height: 147px;
}

.formFields-box {
    padding: 0 58px;
}

.formFields-box-inner {
    border: 1px dashed #23232333;
    border-radius: 16px;
    margin-bottom: 24px;
}

.PreviewpageMainWrap .PreviewStickyContent {
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    padding: 0 0 20px;
}

.PreviewpageMainWrap .PreviewModal-Header {
    position: sticky;
    top: 0;
    /* z-index: 9999; */
}

.PostNewJobModal.editJobPostModal .ant-modal-content {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.PostNewJobModal.editJobPostModal .PreviewStickyContent {
    max-height: calc(100vh - 98px);
    padding: 8px 0 20px;
}
.PreviewModal-Header .PreviewBtnHead{
    display: flex;
    gap: 12px;
    padding-right: 12px;
}

.PreviewStickyContent .btnPrimary{
        color: #232323;
        font-style: normal;
        line-height: normal;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        transition: 0.5s all;
        background: #FFDA30;
        padding: 0 20px;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        min-height: 40px;
        /* line-height: 46px; */
        border-radius: 27px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        cursor: pointer;
}

.PreviewpageMainWrap .Post-Header{
    padding: 24px 58px 0px;
}

@media only screen and (max-width: 767px) {
    .poup-new-content .customradio.ant-radio-group {
        gap: 10px;
        flex-wrap: wrap;
    }

    .PostJobStepSecondWrap .formFields h3 {
        font-size: 13px;
    }

    .PostNewJobModal .Post-Header {
        padding: 0 20px 10px 20px;
    }

    .Filescopypaste__area textarea.form-control {
        height: 140px;
    }

    .formFields-box {
        padding: 0 20px;
    }
}

.justify-content-end {
    justify-content: flex-end !important;
}

.top-details {
    padding: 32px 40px 0;
}

.top-details img {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    object-fit: cover;
}

.top-details p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 0;
    margin-left: 16px;
}

.top-details p a {
    margin-left: 8px;
}

.company-details {
    padding: 18px 32px 32px 32px;
}

.company-details-inner {
    border-radius: 18px;
    border: 1px solid #cecccc66;
    background: #ffffff;
    padding: 24px 32px;
}

.company-details-inner li {
    list-style: none;
}

.company-details-top ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 29px;
}

.company-details-top ul li {
    margin-bottom: 10px;
    margin-right: 56px;
}

.company-details-top ul li p {
    font-size: 14px;
    font-weight: 500;
    color: #232323;
    margin-bottom: 0;
}

.company-details-top ul li span {
    font-size: 12px;
    font-weight: 400;
    display: block;
    color: #676767;
}

.company-benefits ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.company-benefits li {
    border-radius: 14px;
    border: 1px solid #fff8d6;
    margin-right: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 9px 16px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #232323;
    background: #fff8d6;
    border-radius: 14px;
}

.company-benefits li img {
    margin-right: 12px;
}

.company-details h2 {
    font-size: 12px;
    font-weight: 400;
    color: #676767;
    margin-bottom: 13px;
}

.company-details p {
    line-height: 1.55;
    margin-bottom: 20px;
}

.company-details hr {
    border-top: none;
    border-bottom: 1px dashed #23232333;
    margin-top: 27px;
    margin-bottom: 31px;
}

.funding-rounds {
    border-top: 1px solid #bababa33;
    padding-top: 8px;
    padding-bottom: 9px;
}

.funding-rounds ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-bottom: 0;
}

.funding-rounds li {
    border-right: 1px solid #bababa33;
    padding-right: 35px;
    margin-right: 35px;
}

.funding-rounds li span {
    font-size: 14px;
    font-weight: 600;
    color: #232323;
}

.funding-rounds li h3 {
    font-size: 24px;
    font-weight: 600;
    color: #232323;
}

.funding-rounds li:last-child {
    margin-right: 0;
    padding-right: 0;
    border: 0;
    max-width: 100%;
}

.funding-rounds li p {
    color: #676767;
    margin-bottom: 0;
}

.funding-rounds li p a {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #384ad7;
    text-decoration: underline;
}

.img-section {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 32px;
}

.img-section.mt-24 {
    margin-top: 24px;
}

.img-section img {
    width: 32%;
    border-radius: 18px;
    object-fit: contain;
    background: #f7f7f7;
    height: 180px;
}

.editinfo-details-form .formFields .form-group label {
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
}

.editinfo-details-form .formFields .form-group {
    margin-bottom: 40px;
}

.editinfo-details-form .formFields .quill {
    background: #fff;
}

.editinfo-details-form {
    /* padding: 0 32px; */
    padding: 0;
}

.editinfo-details-form .disabled-input {
    background-color: #efefef !important;
    color: #a1a1a1 !important;
    cursor: not-allowed !important;
}

.FilesDragAndDrop__area {
    border: 1px dashed #cecccc;
    border-radius: 10px;
    margin-bottom: 40px;
    background: #f5f5f5;
    text-align: center;
    padding: 24px 16px;
}

.FilesDragAndDrop__area p {
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    margin-bottom: 0;
    margin-top: 20px;
}

.FilesDragAndDrop__area+h3 {
    text-align: center;
}

.FilesDragAndDrop__area p span {
    font-size: 14px;
    color: #f52887;
    font-weight: 500;
}

.FilesDragAndDrop__area span {
    font-size: 12px;
    font-weight: 400;
    color: #353535;
}

.editinfo-details-form .formFields h3 {
    color: #232323;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 8px;
}

.uploaded-content {
    width: 32%;
    border-radius: 18px;
    position: relative;
    margin: 5px;
    height: 180px;
    background: #f7f7f7;
}

.uploaded-content .delete-uploaded img {
    margin-bottom: 0;
}

.img-section .uploaded-content img {
    width: 100%;
    border-radius: 18px;
    height: 100%;
    object-fit: contain;
}

.delete-uploaded {
    width: 27px;
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}

.date-select .ant-select .ant-select-selector {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.date-select .ant-select:last-child .ant-select-selector {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: 1px solid #cecccc;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.youtube-links {
    background: #fff8d6;
    display: table;
    border-radius: 14px;
    font-size: 12px;
    color: #002dcb;
    font-weight: 500;
    text-decoration: underline;
    padding: 5px 14px;
    margin-bottom: 8px;
    margin-top: 11px;
}

.youtube-links img {
    position: relative;
    top: -1px;
    margin-left: 3px;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.img-section .video-wrapper {
    overflow: hidden;
    width: 32%;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    padding-top: 18.25%;
}

.img-section .video-wrapper iframe {
    overflow: hidden;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1299px) {
    .top-details p {
        font-size: 16px;
        line-height: 20px;
        margin-left: 16px;
    }

    .funding-rounds li {
        padding-right: 20px;
        margin-right: 20px;
    }

    .company-benefits li {
        padding: 10px 19px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .funding-rounds li {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        padding-right: 10px;
        margin-right: 10px;
    }

    .img-section img {
        width: 48%;
        border-radius: 18px;
        margin-bottom: 20px;
    }

    .company-benefits li {
        padding: 10px 19px;

        font-size: 14px;
    }

    .top-details {
        flex-wrap: wrap;
    }

    .top-details .d-flex.align-items-center {
        width: 100%;
        order: 2;
    }
}

/******* END myJobPosts.css *******/


/******* Start home.css *******/
.formFields .form-group p {
    color: rgba(107, 107, 107, 0.60);
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 8px;
}

/* Step 2 Css Start */
.groupMain-threeWrap {
    display: flex;
    flex-wrap: wrap;
}

.groupMain-threeWrap .formgroup-three {
    display: flex;
    width: 100%;
    gap: 16px;
}

.groupMain-threeWrap .formgroup-three .courancy-group {
    min-width: 128px;
}

.groupMain-threeWrap .formgroup-three .form-group-cus {
    width: 100%;
}

.groupMain-threeWrap .two-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 16px;
}

.groupMain-threeWrap .two-group .form-group-cus {
    width: calc(50% - 8px);
}

.formFields .FieldPlaceholderWrap.disable {
    background: #efefef
}

.formFields .FieldPlaceholderWrap.disable .form-control {
    background: #efefef
}

.FieldPlaceholderWrap {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px !important;
    padding-right: 10px;
}

.formFields .FieldPlaceholderWrap .form-control {
    background: #FFFFFF;
    border: 0px solid #CECCCC;
    height: 51px;
}

.FieldPlaceholderWrap span {
    color: rgba(107, 107, 107, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Job Preview css start */
.error {
    color: red
}

/* TextEditor css Start */
[class*="editorContainer"] [class*="editor"] {
    border-radius: 8px 8px 0px 0px !important;
    border: 1px solid #CECCCC !important;
    background: #FFF !important;
    box-shadow: inherit !important;
}

[class*="editorContainer"] [class*="editorBody"] {
    border-radius: 0px 0px 8px 8px !important;
    border: 2px solid #FFDA30 !important;
    background: #FFF;
}

/* TextEditor css End */
.customModal.jobPostEditModal .ant-modal-close {
    top: 6px;
    inset-inline-end: 5px;
}

.customModal.jobPostEditModal .hideSelect {
    margin-top: 15px;
}

.customModal.jobPostEditModal .formFields .form-control {
    height: 40px;
}

.customModal.jobPostEditModal .ant-select .ant-select-selector {
    height: 42px;
    padding: 9px 16px;
}

.customModal.jobPostEditModal .groupMain-threeWrap .formgroup-three .courancy-group {
    min-width: 100px;
}

.customModal.jobPostEditModal .customradio label.ant-radio-button-wrapper {
    height: 40px;
}

.reactQuillEdit .ql-container.ql-snow {
    border: none !important;
}

.quill .ql-container,
.quill .ql-editor {
    all: unset;
}

.quill .ql-editor ol li:not(.ql-direction-rtl),
.quill .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 0;
}

.quill .ql-editor p {
    color: #232323;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.quill .ql-editor ul>li {
    list-style-type: disc;
    padding-left: 0;
}

.quill .ql-editor ul>li::before {
    content: none;
}

.quill .ql-snow .ql-editor h3 {
    font-size: 14px;
    margin-bottom: 4px;
}

.quill.heightSize .ql-container {
    border: 1px solid #ccc;
    display: block;
    position: relative;
}

.quill.heightSize .ql-container .ql-editor {
    max-height: 350px;
    overflow-y: auto;
    padding: 16px;
    display: block;
}

.budgetSet {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    padding-bottom: 8px;
    padding-top: 12px;
    padding-left: 12px;
}

.budgetConfidential {
    display: flex;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.budgetConfidential .rightGreenIcon {
    width: 35px;
    height: 35px;
    padding-right: 5px;
    flex-shrink: 0;
    padding-left: 12px;
    display: inline-block;
}

.customModal.jobPostEditModal .customradio.fullgroup {
    flex-wrap: wrap;
}

.customModal.jobPostEditModal .customradio.fullgroup .ant-radio-button-wrapper {
    width: 100%;
    justify-content: left;
}

.customModal.jobPostEditModal .hideSelect.short-lab label {
    display: block;
    min-width: 200px;
}

.customModal.jobPostEditModal .hideSelect.short-lab .customSelect {
    width: auto;
}

/* Responsive Css Start */
@media only screen and (max-width: 991px) {
    .groupMain-threeWrap .formgroup-three {
        flex-wrap: wrap;
    }

    .groupMain-threeWrap .formgroup-three .courancy-group {
        min-width: 100%;
    }

    .FieldPlaceholderWrap span {
        font-size: 12px;
    }

    /* preview css start */


}

@media only screen and (max-width: 767px) {
    .ant-select-show-search.ant-select-multiple .ant-select-selector {
        min-height: 40px;
    }

    .downArrowCus:after {
        top: 15px;
    }

    .ant-select .ant-select-selector .ant-select-selection-item img {
        margin-right: 2px;
    }

    .customModal.jobPostEditModal .formFields .form-group .btnPrimary {
        width: auto;
    }

    [class*="editorContainer"] [class*="editorBody"] {
        border: 0px solid #FFDA30 !important;
        background: #F4F5F8 !important;
    }

    .customModal.jobPostEditModal .groupMain-threeWrap .formgroup-three .courancy-group {
        min-width: 100%;
    }
}

@media only screen and (max-width: 567px) {
    .groupMain-threeWrap .formgroup-three {
        width: 100%;
        flex-wrap: wrap;
    }

    .groupMain-threeWrap .formgroup-three .courancy-group {
        min-width: 100%;
    }

    .groupMain-threeWrap .two-group .form-group-cus {
        width: 100%;
    }

    .formFields .form-group .btnPrimary {
        width: 100%;
    }

    .customModal.jobPostEditModal .customradio label.ant-radio-button-wrapper {
        padding-inline: 7px;
    }
}

/******* END home.css *******/


/******* Start myJobPostsNew.css *******/
.noJobDesInfo {
    padding: 12px 16px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #6B6B6B;
    z-index: 1;
}

.noJobDesInfo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(118.92deg, #EFEEFF 26.18%, rgba(255, 234, 222, 0.94) 96.85%);
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}

/*Vital Information*/
.vitalInfoBox .vitalInfoOption {
    flex-wrap: wrap;
    gap: 12px;
    display: flex;
}

.vitalInfoBox .vitalInfoOption label {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #6B6B6B;
    padding: 11px 16px;
    margin: 0;
    border: 1px solid #CECCCC;
    border-radius: 30px;
}

/* Preview Modal Css start */
.PreviewpageMainWrap .Post-Header {
    padding: 24px 58px 0px;
}

.PreviewpageMainWrap .formFields .FieldsBoxInner-Content {
    padding: 16px 32px;
}

.PreviewpageMainWrap .previewstepBox {
    background: #fbfbfb;
    border: 1px solid #67676752;
    margin: 0px 0 30px;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
}

.PreviewpageMainWrap .previewstepBox li {
    padding-left: 0px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #232323;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: calc(33.33% - 20px);
}

.PreviewpageMainWrap .previewstepBox li img{
    min-width: 16px;
}
.PreviewpageMainWrap .previewstepBox .editDevloper img{
    cursor: pointer;
}

.PreviewpageMainWrap .reactQuillEdit .ql-editor {
    padding: 0px !important;
}

.PreviewpageMainWrap .reactQuillEdit .ql-container.ql-snow ul,
.PreviewpageMainWrap .ql-container.ql-snow ul li {
    padding-left: 5px !important;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.PreviewpageMainWrap .reactQuillEdit .ql-snow .ql-editor h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Company Detail css */
.PreviewpageMainWrap .company-details h6 {
    color: #6B6B6B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

.PreviewpageMainWrap .company-details-inner {
    border: 0;
    background: #ffffff;
    padding: 0;
}

.PreviewpageMainWrap .company-details-top ul {
    column-gap: 32px;
}

.PreviewpageMainWrap .company-details-top ul li {
    margin-right: 0px;
    margin-bottom: 10px;
}

.PreviewpageMainWrap .company-details hr {
    border-top: 0;
}


.PreviewpageMainWrap .funding-rounds {
    padding-bottom: 30px;
}

.PreviewpageMainWrap .funding-rounds li h3 {
    font-size: 24px;
    font-weight: 600;
    color: #232323;
    line-height: 28px;
}

.PreviewpageMainWrap .funding-rounds li span {
    display: inline-block;
    line-height: 18px;
    margin-bottom: 6px;
}

.PreviewpageMainWrap .funding-rounds li p {
    margin: 0;
}

.PreviewpageMainWrap .rounds-list {
    column-gap: 38px;
    row-gap: 60px;
}

.PreviewpageMainWrap .round-list-content {
    position: relative;
    margin-right: 0px;
    width: calc(25% - 29px);
}

.PreviewpageMainWrap .round-list-content>span {
    position: relative;
}

.PreviewpageMainWrap .round-list-content>span .roundHoverAction {
    display: none;
}

.PreviewpageMainWrap .round-list-content>span:hover .roundHoverAction {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -26px;
    right: 2px;
    border: 1px solid #676767;
    border-radius: 15px;
    overflow: hidden;
    background: #FFFDF1;
    min-width: 66px;
}

.PreviewpageMainWrap .round-list-content:hover .roundHoverAction span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 3px;
    width: 50%;
    background: transparent;
    margin: 0;
    border-right: 1px solid #676767;
    border-radius: 0;
    cursor: pointer;
}

.PreviewpageMainWrap .round-list-content:hover .roundHoverAction span:nth-child(2) {
    border-right: 0px;
    color: #E03A3A;
}

.PreviewpageMainWrap .round-list-content.Selected span {
    background: #FFDA30;
}

.PreviewpageMainWrap .round-list-content.Selected h4,
.PreviewpageMainWrap .round-list-content.Selected p {
    color: #CECCCC;
}

.PreviewpageMainWrap .RoundBtnWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.PreviewpageMainWrap .RoundBtnWrap h6 {
    margin-bottom: 0;
}

.PreviewpageMainWrap .addAnotherRoundbtn {
    color: #1B73BA;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.PreviewpageMainWrap .company-details .img-section {
    column-gap: 22px;
    row-gap: 16px;
}

.PreviewpageMainWrap .img-section .video-wrapper iframe {
    border: none;
}

.PreviewpageMainWrap .img-section .img-thumb,
.PreviewpageMainWrap .img-section .video-wrapper {
    width: calc(33.33% - 15px);
    border-radius: 18px;
    overflow: hidden;
    padding-top: 19.40%;
    background: #f7f7f7;
}

.PreviewpageMainWrap .img-section .img-thumb {
    position: relative;
}

.PreviewpageMainWrap .img-section .img-thumb>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: contain;
}

.PreviewpageMainWrap .img-section .img-thumb .DeleteBtn,
.PreviewpageMainWrap .img-section .video-wrapper .DeleteBtn {
    display: none;
    cursor: pointer;
}

.PreviewpageMainWrap .img-section .img-thumb:hover .DeleteBtn,
.PreviewpageMainWrap .img-section .video-wrapper:hover .DeleteBtn {
    display: block;
}

.PreviewpageMainWrap .img-section .img-thumb:hover::after {
    content: "";
    background: #ffffffe6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.PreviewpageMainWrap .img-section .img-thumb .DeleteBtn {
    min-width: 55px;
    max-width: 55px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    z-index: 2;
}

.PreviewpageMainWrap .img-section .video-wrapper .DeleteBtn {
    min-width: 38px;
    max-width: 38px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.PreviewpageMainWrap .img-section .img-thumb .DeleteBtn img,
.PreviewpageMainWrap .img-section .video-wrapper .DeleteBtn img {
    width: 100%;
    border-radius: inherit;
    height: auto;
    background: transparent;
}

.PreviewpageMainWrap .company-benefits ul {
    gap: 8px;
    margin: 0;
}

.PreviewpageMainWrap .company-benefits ul li {
    margin: 0;
}

.vitalInformationContent {
    padding: 32px;
}

.PreviewpageMainWrap .vitalInformationContent .company-benefits ul {
    gap: 12px;
    margin: 0;
}

.PreviewpageMainWrap .vitalInformationContent .company-benefits li {
    margin-right: 0;
}

.PreviewpageMainWrap .vitalInformationContent h6 {
    color: #6B6B6B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.PreviewpageMainWrap .FilesDragAndDrop__area {
    width: 100%;
    background: transparent;
    display: inline-block;
    margin-bottom: 40px;
}

.PreviewpageMainWrap .uploaded-content {
    height: 180px;
    width: calc(33.33% - 15px);
    margin: 0;
    background: #f7f7f7;
}

.PreviewpageMainWrap .img-section .uploaded-content img {
    height: 100%;
    object-fit: contain;
}

.PreviewpageMainWrap .RoleEditor .ql-container.ql-snow {
    border: 1px solid #ccc;
}

.PreviewpageMainWrap .heightSize .ql-editor {
    max-height: 350px;
    height: 120px;
}

/* preview edit modal css start */
.PrevEditmodal .customCheckboxPreview .ant-checkbox-wrappe {
    color: #232323;
}

.PrevEditmodal .customCheckboxPreview .ant-checkbox-inner {
    width: 20px;
    height: 20px;
}

.PrevEditmodal .customCheckboxPreview .ant-checkbox-inner::after {
    width: 4px;
    height: 8px;
}

.PrevEditmodal .customradio.newradiodes.small label.ant-radio-button-wrapper {
    height: 28px;
    padding-inline: 11px;
}

.PrevEditmodal .customradio.newradiodes.small label.ant-radio-button-wrapper span {
    line-height: 28px;
    font-weight: 500;
}

.PrevEditmodal .modalContent .form-group label {
    display: flex;
    align-items: center;
    color: #6B6B6B;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.customModal.PrevEditmodal .ant-select-multiple .ant-select-selector {
    min-height: 42px;
    height: auto;
    padding: 9px 16px;
}

.customModal.PrevEditmodal .ant-select-multiple .ant-select-selection-placeholder {
    inset-inline-start: 16px;
    inset-inline-end: 16px;
}

.customModal.PrevEditmodal .ant-select-multiple .ant-select-selection-search {
    margin: 0 !important;
}

.PreviewpageMainWrap .company-details .top-details {
    padding: 0;
    margin-bottom: 26px;
}

.PreviewpageMainWrap .company-details .top-details p {
    margin-bottom: 0px;
    font-size: 22px;
    color: #232323;
    font-weight: 500;
    line-height: 28px;
}

.PreviewpageMainWrap .editNameBtn {
    display: inline-block;
    width: 18px;
    margin-left: 8px;
}

.PreviewpageMainWrap .editNameBtn img {
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 1200px) {
    .PreviewpageMainWrap .previewstepBox {
        gap: 15px;
    }

    .PreviewpageMainWrap .previewstepBox li {
        font-size: 11px;
    }
}

@media only screen and (max-width: 991px) {
    .PreviewpageMainWrap .previewstepBox li {
        padding-left: 0;
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 767px) {
    .PreviewpageMainWrap .previewstepBox {
        gap: 8px;
        padding: 10px;
    }

    .PreviewpageMainWrap .previewstepBox li {
        font-size: 10px;
        width: calc(50% - 4px);
    }
}

/******* END myJobPostsNew.css *******/


/******* Start previewHR.css *******/
.previewHRModal img{
    max-width: 100%;
}
.previewHRModal .ant-modal-body {
    padding: 0;
}

.previewHRModal .ant-modal-close {
    top: 25px;
    right: 20px;
}

.previewHRModal .ant-modal-close .ant-modal-close-x,
.jobPostEditModal .ant-modal-close .ant-modal-close-x {
    width: 22px;
    height: 22px;
    line-height: 22px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.previewHRModal .ant-modal-close .ant-modal-close-x .anticon {
    vertical-align: inherit;
}

.previewHRModal .ant-modal-content {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 16px !important;
    background-color: #fff !important;
}

.previewHRModal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.PreviewpageMainWrap .prevSkillTwopart {
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
}

.PreviewpageMainWrap .prevSkillTwopart p {
    color: #232323;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.PreviewpageMainWrap .prevSkillTwopart .prevSkillLeftside {
    width: 100%;
}

.PreviewpageMainWrap .prevSkillTwopart .prevSkillLeftside h6 {
    color: #6B6B6B;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    font-weight: 400;
}

.PreviewpageMainWrap .prevSkillTwopart .SlillBtnBox, .PrevEditmodal .prevSkillTwopart .SlillBtnBox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px 0 0;
    padding: 0;
}

.PreviewpageMainWrap .prevSkillTwopart .SlillBtnBox li,
.PrevEditmodal .prevSkillTwopart .SlillBtnBox li {
    display: flex;
    height: 27px;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF8D6;
    color: #232323;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.PostNewJobModal .prevSkillTwopart .SlillBtnBox.LightGreen li,
.PrevEditmodal .prevSkillTwopart .SlillBtnBox.LightGreen li {
    background: #DDF6ED;
}

.PostNewJobModal .prevSkillTwopart .SlillBtnBox.LightGreen li svg,
.PrevEditmodal .prevSkillTwopart .SlillBtnBox.LightGreen li svg {
    fill: #32936F;
}

.PreviewpageMainWrap .RolesResponsibilitiesDetail {
    margin-top: 30px;
}

.RolesResponsibilitiesDetail h5 {
    color: #6B6B6B;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    display: inline-block;
}

.RolesResponsibilitiesDetail .rolesText {
    padding-left: 20px;
}

.RolesResponsibilitiesDetail .rolesText li {
    position: relative;
    color: #232323;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.RolesResponsibilitiesDetail .rolesText li::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 11px;
    background: #232323;
    border-radius: 50%;
    height: 3px;
    width: 3px;
}

.previewHRModal .jobDescrition div,
.previewHRModal .jobDescrition span {
    width: auto !important;
    height: auto !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px !important;
    line-height: 18px !important;
    position: initial !important;
}

.previewHRModal .RolesResponsibilitiesDetail .jobDescrition div,
.previewHRModal .RolesResponsibilitiesDetail .jobDescrition span {
    font-family: Montserrat, sans-serif !important;
}

.previewHRModal .company-details-top ul {
    margin-bottom: 24px;
}

.previewHRModal .formFields .formFields-box .form-group {
    margin-bottom: 24px;
}

.previewHRModal .formFields .formFields-box .formFields-box-title {
    color: #232323;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 4px;
    background: #fffdf1;
    border-radius: 16px 16px 0 0;
    padding: 15px 29px;
    margin: 0;
}

.previewHRModal .formFields .formFields-box .formFields-box-inner .editNewIcon {
    margin-left: 4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.previewHRModal .formFields .formFields-box .formFields-box-title .boxInnerInfo {
    color: #232323;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 5px 0 0;
    display: block;
    padding: 0;
}

.previewHRModal .formFields .formFields-box .formFields-box-title.postJobFirstStepTitle .boxInnerInfo {
    margin: 0;
    padding: 0 8px;
    display: inline-block;
}

.previewHRModal .previewHRAction {
    padding: 16px 58px;
}

.previewHRModal .previewHRAction .btnPrimary {
    background: #ffda30;
    border: none;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #232323;
    font-style: normal;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s;
    z-index: 2;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

.previewHRModal .previewHRAction .btnPrimary:hover {
    background: #000;
    color: #fff;
}

.previewHRModal .company-details .top-details .companyDetailsHead {
    align-items: center;
    display: flex;
}

.previewHRModal .company-details .top-details .thumbImages {
    position: relative;
    width: 68px;
    height: 68px;
    font-size: 8px;
    background: #f7f7f7;
    border-radius: 70px;
}

.previewHRModal .company-details .top-details .thumbImages img {
    object-fit: contain;
}

.previewHRModal .company-details .top-details .thumbImages .editNameBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f7f7f7f5;
    border-radius: 50%;
    display: inline-flex;
    margin: 0;
    cursor: pointer;
}

.PreviewpageMainWrap .company-details .top-details .thumbImages {
    position: relative;
}

.PreviewpageMainWrap .company-details .top-details .thumbImages .editNameBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #f7f7f7f5;
    border-radius: 50%;
    display: inline-flex;
    margin: 0;
}

.PreviewpageMainWrap .company-details .top-details .thumbImages .editNameBtn label {
    margin: 0;
    display: inline-flex;
}

.PreviewpageMainWrap .company-details .top-details .thumbImages .editNameBtn label img {
    margin: 0;
}

.previewHRModal .editinfo-details-form .date-select {
    display: flex;
}

.previewHRModal .justify-content-start {
    justify-content: flex-start;
}

.previewHRModal .justify-content-end {
    justify-content: flex-end;
}

.previewHRModal .formFields .formFields-box .buttonEditGroup,
.jobPostEditModal .buttonEditGroup {
    gap: 18px;
    flex-wrap: wrap;
    display: flex;
    margin-top: 16px;
}

.buttonEditGroup .btnPrimary {
    font-size: 14px;
    line-height: 18px;
    min-height: 40px;
    padding: 10px 24px;
    background: #ffda30;
    border: 0;
    border-radius: 27px;
    color: #232323;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s;
    z-index: 2;
    cursor: pointer;
}

.buttonEditGroup .btnPrimary:hover {
    background: #000;
    color: #fff;
}

.buttonEditGroup .btnPrimary.blank {
    background: transparent;
    padding: 0 0px;
}

.buttonEditGroup .btnPrimary.blank:hover {
    color: #232323;
}

.previewHRModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item .ant-select-selection-item-content {
    color: #232323;
}

.previewHRModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item .ant-select-selection-item-remove {
    top: 8px;
}

.previewHRModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item .ant-select-selection-item-remove svg {
    fill: #232323;
    height: 10px;
    width: 10px;
}

.previewHRModal .ant-select.ant-select-multiple .ant-select-selector .ant-select-selection-search .ant-select-selection-search-input,
.PrevEditmodal .ant-select.ant-select-multiple .ant-select-selector .ant-select-selection-search .ant-select-selection-search-input {
    height: auto;
}

.previewHRModal .ant-select .ant-select-selector>.ant-select-selection-search {
    left: 16px;
}

.previewHRModal .vitalInformationContent .company-benefits {
    margin-bottom: 16px;
}

.previewHRModal .vitalInformationContent .company-benefits:last-child {
    margin-bottom: 0;
}

.previewHRModal .PreviewpageMainWrap .vitalInformationContent h6 {
    color: #6B6B6B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 8px;
}

.previewHRModal label,
.jobPostEditModal label {
    display: inline-block;
    margin-bottom: 8px;
}

.previewHRModal .mb-0,
.jobPostEditModal .mb-0 {
    margin-bottom: 0 !important;
}

.previewHRModal .mt-1,
.jobPostEditModal .mt-1 {
    margin-top: .25rem !important;
}

.previewHRModal .mt-2,
.jobPostEditModal .mt-2 {
    margin-top: .5rem !important;
}

.previewHRModal .mt-4,
.jobPostEditModal .mt-4 {
    margin-top: 1.5rem !important;
}

.previewHRModal .mt-3,
.jobPostEditModal .mt-3 {
    margin-top: 1rem !important;
}

.previewHRModal .mb-2,
.jobPostEditModal .mb-2 {
    margin-bottom: .5rem !important;
}

.previewHRModal .mb-3,
.jobPostEditModal .mb-3 {
    margin-bottom: 1rem !important;
}

.previewHRModal .mb-4,
.jobPostEditModal .mb-4 {
    margin-bottom: 1.5rem !important;
}

.previewHRModal .formFields .form-control,
.jobPostEditModal .formFields .form-control {
    background: #fff;
    border: 1px solid #cecccc;
    border-radius: 8px !important;
    color: #232323;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 52px;
    line-height: normal;
    padding: 12px 16px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
    box-shadow: none;
}

.previewHRModal .formFields .form-control:focus,
.jobPostEditModal .formFields .form-control:focus {
    border: 1px solid #ffda30;
}

.jobPostEditModal .formFields .FieldPlaceholderWrap .form-control {
    background: #FFFFFF;
    border: none;
}

.previewHRModal .formFields .ant-checkbox-wrapper,
.jobPostEditModal .formFields .ant-checkbox-wrapper {
    display: inline-flex;
}

.previewHRModal .formFields .editinfo-details-form .ant-checkbox-wrapper {
    margin-bottom: 0;
}

.previewHRModal .row,
.jobPostEditModal .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px !important;
    margin-right: -8px !important;
}

.previewHRModal .col-md-12,
.previewHRModal .col-12,
.jobPostEditModal .col-md-12,
.jobPostEditModal .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.previewHRModal .col-md-6,
.jobPostEditModal .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.previewHRModal .formFields {
    margin-top: 20px;
}

.previewHRModal .PreviewpageMainWrap .company-details .img-section:empty {
    display: none;
}

.previewHRModal .vitalInformationContent .formFields.Filescopypaste__area {
    margin-top: 0;
}

/************************************************/
.customModal.jobPostEditModal .ant-modal-content {
    padding: 16px 20px;
    background: #fff !important;
}

.customModal.jobPostEditModal .ant-modal-body {
    padding: 0;
}

.customModal.jobPostEditModal .ant-modal-content .formFields {
    margin: 0px;
}

.customModal.jobPostEditModal .ant-modal-close {
    top: 6px;
    inset-inline-end: 5px;
}

.customModal.jobPostEditModal .ant-modal-content .buttonEditGroup {
    margin-top: 20px;
    width: 100%;
}

.customModal.jobPostEditModal .hideSelect {
    margin-top: 15px;
}

.customModal.jobPostEditModal .formFields .form-control {
    height: 40px;
}

.jobPostEditModal .changeLocationSec .ant-select-single .ant-select-arrow {
    margin-top: -6px;
}

.customModal.jobPostEditModal .ant-select .ant-select-selector {
    height: 42px;
    padding: 9px 16px;
}

.customModal.PrevEditmodal .prevSkillTwopart .ant-select-multiple .ant-select-selector {
    height: auto;
}

.customModal.jobPostEditModal .groupMain-threeWrap .formgroup-three .courancy-group {
    min-width: 100px;
}

.customModal.jobPostEditModal .customradio label.ant-radio-button-wrapper {
    height: 40px;
}

.customModal.jobPostEditModal .customradio.fullgroup {
    flex-wrap: wrap;
}

.customModal.jobPostEditModal .customradio.fullgroup .ant-radio-button-wrapper {
    width: 100%;
    justify-content: left;
}

.customModal.jobPostEditModal .hideSelect.short-lab label {
    display: block;
    min-width: 200px;
}

.customModal.jobPostEditModal .hideSelect.short-lab .customSelect {
    width: auto;
}

.customModal.jobPostEditModal .buttonEditGroup {
    flex-wrap: nowrap;
}

/**/
.formFields .form-group label {
    color: #676767;
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
    margin-bottom: 8px;
}

/*****/
/* Custom Radio css */

.customradio.ant-radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.customradio label.ant-radio-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid#CECCCC;
    /* border-color: #CECCCC; */
    background: #FFF;
    height: 44px;
    color: #000 !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.32px;
    margin-bottom: 0;
}

.customradio .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: transparent;
}

.customradio .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;
}

.customradio .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: #32936F;
    /* border: 2px solid #32936F; */
    box-shadow: 0px 0px 1px 1px #32936F;
    background: #DDF6ED;
}

.customradio .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;
}

.customradio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active,
.customradio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.customradio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-radius: 8px;
    /* border: 2px solid var(--selection-stroke-green, #32936F); */
    box-shadow: 0px 0px 1px 1px #32936F;
    background: var(--selection-light-green, #DDF6ED);
    color: #000;
}

.customradio label.ant-radio-button-wrapper span {
    font-weight: 400;
}

/* Custom Radio css End*/

/************************************************/
.ant-modal-centered {
    z-index: 1000;
}

.ant-select-dropdown{
    z-index: 99999 !important;
}

.jobPostEditModal .formFields .form-group {
    margin-bottom: 24px;
}

.jobPostEditModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item {
    background: #fff8d6;
    color: #232323;
}

.jobPostEditModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item .ant-select-selection-item-remove {
    top: 8px;
}

.jobPostEditModal .ant-select-show-search.ant-select-multiple .ant-select-selection-overflow-item .ant-select-selection-item .ant-select-selection-item-remove svg {
    fill: #232323;
    width: 11px;
    height: 11px;
}

.payrolePartnerName {
    background: #fff;
    border: 1px solid #cecccc;
    border-radius: 8px !important;
    box-shadow: none;
    color: #232323;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 52px;
    line-height: normal;
    padding: 12px 16px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}


@media only screen and (max-width: 1440px) {
    .vitalInfoBox .vitalInfoOption label, .PrevEditmodal .modalContent .form-group label, .formFields .form-group label{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1200px) {
    .PreviewpageMainWrap .prevSkillTwopart .SlillBtnBox li, .PrevEditmodal .prevSkillTwopart .SlillBtnBox li{
        height: 25px;
        padding: 4px 8px;
    }

    .buttonEditGroup .btnPrimary {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .prevSkillTwopart .prevSkillLeftside {
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .prevSkillTwopart .prevSkillLeftside {
        width: 100%;
        border: none;
        padding: 0;
    }

    .RolesResponsibilitiesDetail h5 {
        font-size: 12px;
    }

    .customModal.jobPostEditModal .buttonEditGroup {
        flex-wrap: nowrap;
        gap: 10px;
    }

    .customModal.jobPostEditModal .buttonEditGroup .btnPrimary {
        font-size: 12px;
        min-height: 30px;
    }
}

/******* END previewHR.css *******/