.hiringRequestContainer {
    padding: 24px 40px;
}
.addnewHR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hiringRequest {
    font-size: 32px;
    font-weight: 500;
}

.newHR {
    padding: 1px 0;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newHR label {
    padding: 0 20px;
    font-weight: 500;
    font-size: .8vw;
}

.btnPrimary {
    background: #FFDA30;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    padding: 17px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}

.iconDown {
    height: 50px;
    width: 50px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background-color-light);
}

.searchFilterSet{
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    width: 250px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.searchInput{
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}
.calendarFilterSet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}
.label{
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--uplers-lightBlack);
}
.calendarFilter{
    width:250px ;
    height: 44px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 1px solid var(--background-color-metal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.calendarFilter [class*="react-datepicker-popper"]{
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    width: 100% !important;
    margin: 40px 0 30px;
    min-width: 220px;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  > div
  > [class*="react-datepicker"] {
  margin-left: 0;
  min-width: 100%;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  [class*="react-datepicker__navigation"]:before {
  top: 14px;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  [class*="react-datepicker__day-names"] {
  margin-top: 5px;
}
.calendarFilter
  [class*="react-datepicker__month-container"]
  [class*="react-datepicker__month"] {
  margin-bottom: 10px;
}

.dateFilter{
    cursor: pointer;
    width: 102%;
    outline: none;
    border:none;
    color: var(--uplers-black);
    font-weight: 500;
}
.priorityFilterSet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.priorityFilter{
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 44px;
}

.paginationFilter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 71px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    cursor: pointer;
}

.paginationFilter .btnPrimary {
    padding-top: 13px;
    padding-bottom: 13px;
}

.tableDetails{
    margin-top: 24px;
    padding-bottom: 40px;
}
.tableDetails table tr th[class*="ant-table-cell"] {
  white-space: nowrap;
}

.filterContainer{
    border-radius: 10px;
    margin: 24px auto;
}

.filterSetsContainer {
    width: 96%;
}


.filterType {
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    padding: 10px 16px;
    text-align: center;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    display: inline-flex;
    /* flex: 1; */
}

.filterType img{
    max-width: 24px;
    margin-right: 8px;
}

.filterType h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232323;
    margin-bottom: 0px;
}

.filterType span {
    font-weight: 600;
}


.filterSets{
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color-light);
}

.filterSetsInner{
    display: flex;
    align-items: center;
}

.filterSetsInner p{
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.filterDescription {
    margin: 24px auto 0 auto;
    justify-content: inherit;
    gap: 16px;
}

.addFilter{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 167px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
}

.filterLabel{
    font-weight: 500;
    font-size: .7vw;
}

.filterCount{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: var(--fontsize-uplers);
    background-color: var(--color-sunlight);
    border-radius: 50%;
    font-weight: 700;
}

.filterRight{
    display: flex;
    justify-content: flex-end;
    gap:24px;
    align-items: center ;
    flex-wrap: wrap;
}


/* add tsc modal css */

.engagementaddtscModal  [class*="ant-modal-content"]{
    background-color: #fff !important;
}

.engagementaddtscModal  [class*="ant-modal-body"]{
    padding:40px;
}

.engagementaddtscModal h2{
    color: #232323;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.engagementaddtscModal p{
    color: #7C7C7C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}


.engagementaddtscModal p b{
    color: #232323;
    font-weight: 400;
}

.engagementaddtscModal  [class*="tableaddTitle"]{
    border-bottom: 1px dashed #E8E8E8;
    margin-bottom: 26px;
}


.colMd12 {
    width: 100%;
    padding: 0 9px;
}

.colMd6 {
    width: 50%;
    padding: 0 9px;
}

.row {
    margin: 0 -9px;
    flex-wrap: wrap;
    display: flex;
}

.btnCancle {
    background: var(--text-color-purity);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    margin-left: 10px;
}

.customSelectAMName [class*="ant-select-selection-search-input"]{
    padding-left: 15px !important;
}

/* Responsive css start */

@media only screen and (max-width: 1440px) {
    .hiringRequestContainer {
        padding: 16px 24px;
    }
    .filterContainer{
        margin: 16px auto;
    }
    .tableDetails{
        margin-top: 16px;
    }
    .calendarFilter{
        width:220px;
    }
  
    .calendarFilter .dateFilter{
        font-size: 12px;
    }

    .filterType{
        padding: 7px 13px;
    }
    .filterType img{
        max-width: 20px;
    }

    .filterType h2 {
        font-size: 14px;
        line-height: 16px;
    }
  
    .searchInput{
        font-size: 12px;
    }  

    .hiringRequest {
        font-size: 26px;
    }
  
    .filterRight .focusCheckBox{
        max-width: 115px;
        align-items: center;
    }

    .filterRight .focusCheckBox span{
        font-size: 12px;
        line-height: 16px;
    }

    .calendarFilter svg{
        margin-right: 5px !important;
    }
  
    .filterSetsInner p{
        font-size: 12px;
    }
  
    .addFilter{
        width: 125px;
        gap: 8px;
    }


    .calendarFilter{
        width:200px;
        height: 35px;
    }

    .label {
        font-size: 12px;
    }

    .btnPrimary {
        font-size: 12px;
        line-height: 16px;
        padding: 12px 25px;
    }

    .togglebtn {
        height: 40px
    }

    .filterSets{
        padding: 15px;
    }

    .filterRight{
        gap: 15px;
    }
  
    .addFilter{
        width: 125px;
        gap: 8px;
    }

    .searchFilterSet{
        width: 200px;
        height: 35px;
    }

    .searchInput{
        font-size: 10px;
    }   

    .paginationFilter {
        width: 65px;
        height: 35px;
    }
   
    .addFilter{
        height: 35px;
    }

    .filterCount{
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
    
    .paginationFilter .btnPrimary{
        padding: 9px 24px;
    }
  }
  
  
  /* Responsive css End */