
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto !important;
    background-color: #F9F6ED;
    margin-left: 68px;
    width: calc(100% - 68px);
    position: relative;
    z-index: 1;
    height: 100vh;
    max-height: 100vh;
}

.content-wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
    background-color: #F9F6ED;
}