.companyProfileContainer{
    width: 100%;      
}

.companyCard{
    /* box-shadow: -4px 4px 20px rgba(166, 166, 166, 0.2); */
    border-radius: 8px;
    height: 50%;
    background-color: var(--background-color-light);
}
.companyCardBody{
    /* width: 90%; */
    margin:0 auto;
    font-size: 14px;
    padding: 24px;
}
.partWise{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.partWiseList {
  display: block;
}
.companyName,
.companyURL,
.pocName,
.pocEmail,
.EngagementType,
.category,
.TR,
.TRParked,
.roleName,
.contactDuration,
.minExp,
.budget,
.engagement,
.preferredShift,
.preferredTime,
.jdLink,
.salesPerson,
.manager,.geo{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top:5px;
}
.TR button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #676767;
  background: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  box-shadow: none;
}

.btnPrimary {
    background: #FFDA30;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    padding: 8px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
    margin-left:10px
}
