.hrNextActionForTalent {
    box-shadow: -4px 4px 20px rgba(166, 166, 166, 0.2);
    margin-top: 80px;
    background-color: var(--background-color-light);
    border-radius: 8px;
}

.nextActionList {
    padding: 10px 0;
    border-top: 1px solid;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-weight: 600;
    cursor: pointer;
}

.actionItem {
    font-size: .9rem;
    max-width: 32%;
    border: 1px solid var(--uplers-border-color);
    padding: 15px 15px;
    height: 80px;
    border-radius: 8px;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}