
.container {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  margin: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

.amtable .ant-table-thead > tr > th {
  background-color: #f9f9f9;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #cfcfcf;
}

.amtable .ant-table-tbody > tr > td {
  font-size: 14px;
  color: #333;
  padding: 12px;
  border-bottom: 1px solid #bbbaba;
}

.amtable .ant-table-footer {
  background: #fafafa;
  font-weight: 600;
  font-size: 15px;
  padding: 16px;
  text-align: right;
}

.amtable .ant-table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #eee;
}

.amtableTotalCell{
    font-weight: bold;
    background-color:#fafafa ;                
    font-size: '14px';            
}

.filterContainer{
    border-radius: 10px;
    margin: 24px auto;
}

.filterSetsContainer {
    width: 96%;
}

.filterSetsInner{
    display: flex;
    align-items: center;
}


.filterSetsInner [class*="ant-select"] [class*="ant-select-selector"] {
    padding-top: 0 !important;
    padding-bottom: 0px !important;
}

.filterSetsInner p{
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.btnPrimary {
    background: #FFDA30;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    height:44px;
    padding: 8px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}

.btnCancle {
    background: var(--text-color-purity);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    margin-left: 10px;
}


.searchFilterSet{
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    width: 300px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.resetText{
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.searchInput{
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}
.calendarFilter{
    width:250px ;
    height: 44px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 1px solid var(--background-color-metal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.calendarFilter [class*="react-datepicker-popper"]{
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    width: 100% !important;
    margin: 40px 0 30px;
    min-width: 220px;
    z-index: 999 !important;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  > div
  > [class*="react-datepicker"] {
  margin-left: 0;
  min-width: 100%;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  [class*="react-datepicker__navigation"]:before {
  top: 14px;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  [class*="react-datepicker__day-names"] {
  margin-top: 5px;
}
.calendarFilter
  [class*="react-datepicker__month-container"]
  [class*="react-datepicker__month"] {
  margin-bottom: 10px;
}

.filterSetsInner{
    display: flex;
    align-items: center;
}
.filterSetsInner [class*="ant-select"]  {
    /* width:200px */
}

.filterSetsInner [class*="ant-select"] [class*="ant-select-selector"] {
    padding: 12px 10px;
    height: 49px !important;
    min-height: 44px;
    overflow: scroll;
    /* width:200px */
}

.addFilter{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 167px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
}


.filterLabel{
    font-weight: 500;
    font-size: 12px;
}

.filterCount{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: var(--fontsize-uplers);
    background-color: var(--color-sunlight);
    border-radius: 50%;
    font-weight: 700;
}

.dateFilter{
    cursor: pointer;
    width: 102%;
    outline: none;
    border:none;
    color: var(--uplers-black);
    font-weight: 500;
}


.highlighttotalrow {   
  font-weight: bold !important;
  position: sticky !important;
  top: 0;
  z-index: 4;
  background-color: #fff7d6 !important;
}