.dealDetailsWrap{
    padding:0 40px 40px;
}
.goback {
    color: var(--uplers-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: var(--fontsize-uplers);
    font-weight: 500;
    margin-top: 10px;
}
.dealDetailsBack{
    margin: 0;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #232323;
    margin-bottom: 24px;
}
.dealDetailsBack a{
    display: inline-flex;
    align-items: center;
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    outline: none;
    transition: all 0.35s ease 0s;
}
.dealDetailsBack a svg{margin-right: 6px;}
.dealDetailsTitle{
    margin: 0 0 50px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dealDetailsTitle h1{
    margin: 0;
    /* font-family: 'Montserrat'; */
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
    display: inline-flex;
    align-items: center;
}
.dealDetailsTitle h1 img {
    width: 56px;
    height: 56px;
    border-radius: 60px;
    margin-right: 24px;
}
.dealDetailsTitle button {
    background: #FFDA30;
    border: 1px solid #FFDA30;
    border-radius: 8px;
    padding: 12px 16px;
    /* font-family: 'Montserrat'; */
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    cursor: pointer;
    transition: all 0.35s ease 0s;
    box-shadow: none;
    outline: none;
}
.dealDetailsTitle button:hover{
    background: #232323;
    color: #fff;
    border-color: #232323;
}
.dealDetailsTopCard{
    margin: 0 0 40px;
}
.dealDetailsTopCard ul {
    margin: 0 -12px;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0;
}
.dealDetailsTopCard ul li {
    width: 25%;
    padding: 0 12px;
    list-style: none;
    margin: 0;
}
.topCardItem{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 15px 24px;
    /* font-family: 'Montserrat'; */
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
}
.topCardItem span{
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.dealDetailsCard{
    margin: 0 -12px 40px;
    display: flex;
    flex-wrap: wrap;
}
.dealLeftCard{
    width: 50%;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.dealLeftItem h2 {
    margin: 0 0 16px;
    /* font-family: 'Montserrat'; */
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
}
.dealLeftCard ul, .dealRightCard ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.dealLeftCard ul li, .dealRightCard ul li{
    list-style-type: none;
    margin: 0 0 16px;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    word-break: break-word;
}


.dealRightCard ul li span{
    white-space: pre-wrap;
}

.dealLeftCard ul li:last-child , .dealRightCard ul li:last-child{
    margin-bottom: 0;
}

.dealLeftCard ul li span, .dealRightCard ul li span {
    color: #7C7C7C;
    margin-right: 5px;
}

.dealLeftCard ul li span{white-space: nowrap;}

.dealLeftCard ul li a, .dealRightCard ul li a{
    text-decoration-line: underline;
    color: #0278E4;
}
.dealItemLink{
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    color: #0278E4 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline !important;
    margin: 0;
}
.dealItemLink svg{
    vertical-align: middle;
}

.dealLeftCard ul{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 15px;
}

.dealLeftCard ul li:nth-child(2n + 1){
    width: 60%;
    display: flex;
}

.dealLeftCard ul li:nth-child(2n){
    width: calc(40% - 15px);
    display: flex;
}

.viewClientReadMore{
    color:#0278E4;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.dealLeftItem{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(204, 238, 204, 0.25);
    padding: 24px;
    width: 100%;
    border-radius:8px;
}
.dealRightCard{
    width: 50%;
    padding: 0 12px;
}
.dealActivity{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(204, 238, 204, 0.25);
    padding: 24px 24px 0;
    border-radius:8px;
    overflow: hidden;
}

.dealActivity h2{
    /* font-family: 'Montserrat'; */
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
    margin: 0 0 24px;
}
.dealActivity ul{
    margin: 0 -24px;
    padding: 0;
    list-style-type: none;
    max-height: 495px;
    overflow-y: auto;
}

.dealActivity ul li {
    margin: 0 0 24px;
    padding: 0 24px 24px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    align-items: flex-start;
    /* font-family: 'Montserrat'; */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
}
.dealActivity ul li span {
    color: #676767;
}
.dealActivity ul li a {
    text-decoration: underline;
    color: #232323;
    transition: all 0.35s ease 0s;
}
.dealActivity ul li a:hover{
    text-decoration: none;
}
.dealActivity ul li p:last-child {
    margin-bottom: 0;
}
.dealActivity ul li p{
    margin: 0 0 16px;
}
.dealActivity ul li:last-child{
    margin-bottom:0;
    border-bottom: none;
}
.dealActivityTime{
    padding-right: 24px;
    min-width: 150px;
}
.dealActivityInfo{
    margin: 0;
}
.dealActivityAction{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #676767;
    display: inline-flex;
    /* align-items: center; */
}
.dealActivityAction img{
    margin-right: 8px;
}
.dealDetailsTable{
    margin: 0;
}

.dealDetailsRight{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.deleteButton{
    background-color: var(--background-color-light);
    border: 2px solid var(--uplers-border-color);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
}

button.yellowOutlinedButton {
    background: transparent;
}


[class*="dealDetailsRight"] [class*="iconDown"]{
    height: 43px;
    width: 43px;
}

[class*="dealDetailsRight"] [class*="newHR"]{
    border: 1px solid var(--color-sunlight);
    background-color: #fff;
}

.viewClientUser{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
}

.viewClientUser{
    background-image: url('../../assets/svg/viewClientUser.png');
}



/* jobpostDraftModal css start */

.jobpostDraftModal{

}

.jobPostDraftContent{
    max-height: 560px;
    overflow-y: auto;
    padding: 0 40px;
}

.jobPostDraftContent .jobPostDraftBox{
    border-radius: 8px;
    background: #F5F5F5;
    box-shadow: 0px 2px 8px 0px rgba(204, 238, 204, 0.25);
    overflow: hidden;
    margin-bottom: 24px;
}

.jobPostDraftContent .jobPostTopHeading{
    background: #FFDA30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
}

.jobPostDraftContent .jobPostTopHeading h4{
    color: #232323;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.jobPostDraftContent .jobPostTopHeading span{
    color: #232323;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.draftInnerContent .jobRoleTypeBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px;
    gap: 24px;
}

.draftInnerContent .jobRoleTypeBox .jobRoleTypePart{
   width: calc(33.33% - 16px);
}

.draftInnerContent .jobRoleTypeBox .jobRoleTypePart p{
    color: #676767;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.draftInnerContent .jobRoleTypeBox .jobRoleTypePart a{
    color:#0278E4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.draftInnerContent .jobRoleTypeBox .jobRoleTypePart h5{
    color:#232323;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 5px;
}


.draftInnerContent .jobRoleTypeBox.SkillBudget{

}

.draftInnerContent .jobRoleTypeBox.SkillBudget .jobRoleTypePart{
    width: 100%;
}


.jobRoleTypeBox.SkillBudget .SkillWrapBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    gap: 8px;
}

.jobRoleTypeBox.SkillBudget .SkillWrapBox {
   list-style: none;
   padding: 0;
}

.jobRoleTypeBox.SkillBudget .SkillWrapBox .close{
    height: 12px;
    cursor: pointer;
}

.jobRoleTypeBox.SkillBudget .SkillWrapBox li{
    height: 27px;
    padding: 6px 14px;
    color: #232323;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background:#FFF8D6;
    gap: 8px;
}


.jobRoleTypeBox.employDetailWrap .jobRoleTypePart:nth-child(odd){
    width: calc(30% - 16px);
}

.jobRoleTypeBox.employDetailWrap .jobRoleTypePart{
    width: calc(70% - 16px);
}


.jobPostDraftBox .jdRequrementText{
    padding-left: 15px;
    margin-top: 5px;
}

.jobPostDraftBox .jdRequrementText li{
    position: relative;
    list-style: none;
    color: #232323;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.jobPostDraftBox .jdRequrementText li{
    position: relative;
    list-style: none;
}

.jobPostDraftBox .jdRequrementText li:after{
    content: "";
    position: absolute;
    left: -12px;
    top: 10px;
    background: #232323;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.viewJobBtn, .viewJobBtn:focus{
    background: #FFDA30;
    border: 1px solid #FFDA30;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #232323;
    cursor: pointer;
    transition: all 0.35s ease 0s;
    box-shadow: none;
    outline: none;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}

.viewJobBtn:hover{
    background: #232323;
    color: #fff;
    border-color: #232323;
}


/* jobpostDraftModal css End */