.hiringRequestContainer {
    padding: 25px 40px;
}

.addnewHR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hiringRequest {
    font-size: 32px;
    font-weight: 500;
}

.newHR {
    padding: 1px 0;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newHR label {
    padding: 0 20px;
    font-weight: 500;
    font-size: .8vw;
}

.iconDown {
    height: 50px;
    width: 50px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background-color-light);
}

.filterContainer {
    border-radius: 10px;
    margin: 24px auto;
    background-color: var(--background-color-light);
}

.filterSets {
    /* width: 96%; */
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filterSetsInner{
    display: flex;
    align-items: center;
}

.filterSetsInner p{
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.addFilter {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 167px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
}

.filterLabel {
    font-weight: 500;
    font-size: .7vw;
}

.filterCount {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: var(--fontsize-uplers);
    background-color: var(--color-sunlight);
    border-radius: 50%;
    font-weight: 700;
}

.filterRight {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}

.searchFilterSet {
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    width: 250px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.searchInput {
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}

.calendarFilterSet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--uplers-lightBlack);
}

.calendarFilter {
    width: 250px;
    height: 44px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 1px solid var(--background-color-metal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.calendarFilter [class*="react-datepicker-popper"] {
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    width: 100% !important;
    margin: 40px 0 30px;
}

.calendarFilter [class*="react-datepicker-popper"]>div>[class*="react-datepicker"] {
    margin-left: 0;
    min-width: 100%;
}

.calendarFilter [class*="react-datepicker-popper"] [class*="react-datepicker__navigation"]:before {
    top: 14px;
}

.calendarFilter [class*="react-datepicker-popper"] [class*="react-datepicker__day-names"] {
    margin-top: 5px;
}

.calendarFilter [class*="react-datepicker__month-container"] [class*="react-datepicker__month"] {
    margin-bottom: 10px;
}

.dateFilter {
    cursor: pointer;
    width: 102%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}

.priorityFilterSet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.priorityFilter {
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 44px;
}

.paginationFilter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 71px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    cursor: pointer;
}

.tableDetails {
    margin-top: 24px;
}
.tableDetails [class*="ant-pagination"]{
    display: none;
}

.formPanelAction {
    padding: 32px 0;
    justify-content: center;
    display: flex;
}

.formPanelAction button {
    background: var(--text-color-purity);
    border: 1px solid var(--tabs-border-color);
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
}

.formPanelAction .btnPrimary {
    background: var(--color-sunlight);
    border-color: var(--color-sunlight);
}

.formPanelAction button+button {
    margin-left: 16px;
}

.hiringRequestPriority {
    background-color: var(--background-color-light);
    border: 2px solid var(--uplers-border-color);
    padding: 10px 15px;
    border-radius: 8px;
}

.formPanelAction {

    padding: 32px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    /* width: 1176px */
}

.matchmakingLabel {
    margin-top: 40px;
    margin-left: 20px;
    line-height: 39px;
    font-weight: 500;
    font-size: 25px;
}
.trReq {
    margin-top: 10px;
    margin-left: 20px;
    line-height: 49px;
    font-weight: 500;
    font-size: 16px;
}

.isSelectedBackground {
    background: #f7f7f7 !important;
}

.selectedCell {
    padding: 17px 12px;
    font-weight: 600 !important;
    text-align: start;
    border-bottom: 2px solid var(--color-sunlight);
}

.isSelected {
    background-color: var(--background-color-light);
}

.formPanelAction button {
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
}

.formPanelAction .btnPrimary {
    background: #FFDA30;
    border-color: #FFDA30;
}

.formPanelAction button+button {
    margin-left: 16px;
}

.searchFilterSet {
    margin-right: 25px;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    width: 276px;
    height: 44px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.searchInput {
    background: transparent;
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}

.matchmakingTable {
    cursor: pointer;
    border-collapse: collapse;
    width: 100%;

    position: relative;
}


.td {
    padding: 17px 12px;
    text-align: start;
    border-bottom: 1px solid var(--uplers-grey) !important;
}

tr .td:first-child {
    padding-left: 20px;
}

.ellipsis {
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.maxWidth164 {
    max-width: 164px;
}

.maxWidth134 {
    max-width: 134px;
}

.maxWidth170 {
    max-width: 170px;
}

.ml5 {
    width: 10px;
    margin-left: 5px;
}

.th {
    z-index: 1;
    padding: 24px 12px;
    text-align: start;
    color: var(--background-color-light);
    font-size: 14px !important;
    font-weight: 600;
    line-height: 17px !important;
    color: var(--uplers-black);
    position: sticky;
    top: 0;
    border-bottom: 1px dashed var(--uplers-grey);
}

tr th:first-child {
    padding-left: 20px;
}

.btnPrimary {
    background: #FFDA30;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    padding: 12px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}

.timeSlotItem {
    width: 100%;
    position: relative;
}

.timeSlotItem svg {
    position: absolute;
    top: 19px;
    right: 26px;
    z-index: 1;
    pointer-events: none;
}

.timeLabel {
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #676767;
    margin: 0 0 8px;
    display: inline-block;
}

.timeSlotItem [class*="react-datepicker__input-container"] input {
    text-align: left;
    width: 100%;
    padding: 16px 40px 16px 16px;
    background: var(--background-color-light);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--uplers-black);
    outline: 1px solid transparent;
    transition: all 0.25s ease 0s;
}

.timeSlotItem [class*="react-datepicker__input-container"] input::-webkit-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input::-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:-ms-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:focus {
    outline-color: var(--color-sunlight);
    border-color: var(--color-sunlight);
}

.timeSlotItem [class="react-datepicker-popper"] {
    right: 16px !important;
    left: 0 !important;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    box-shadow: -4px 4px 20px rgba(57, 57, 57, 0.09);
    margin: -1px 0;
    padding: 4px 0;
    width: 260px;
}

.timeSlotItem [class="react-datepicker"],
.timeSlotItem [class*="react-datepicker--time-only"] {
    margin-left: 0;
    width: 100%;
    box-shadow: none !important;
    vertical-align: middle;
}

.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-container"],
.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-box"] {
    width: 100%
}

.timeSlotItem [class="react-datepicker__month-container"] {
    width: 100%;
}

.timeSlotItem [class*="react-datepicker__header "] {
    border-bottom: 1px solid #E8E8E8;
}

.timeSlotItem [class="react-datepicker-popper"] [class*="react-datepicker__navigation"]:before {
    top: 14px;
}

.timeSlotItem.timePickerItem [class="react-datepicker-popper"] {
    width: 60%;
    right: auto !important;
}

.demandFunnelModal  [class*="ant-pagination"] {
    display: none;
}

.actionTab_Exceeded{
    /* background-color: #BDDFFE; */
    /* width: 20px;
    height: 20px; */
    /* border-radius: 5px; */
    border-bottom: 4px solid #6DBAFF ;
    margin-right: 10px;
  }

.actionTab_ExceededContainer {
    display: flex;
    align-items: center;
}

/* Responsive css start */

@media only screen and (max-width: 1440px) {
    .hiringRequestContainer {
        padding: 16px 24px;
    }
    .filterContainer {
        margin: 16px auto;
    }
    .tableDetails{
        margin-top: 16px;
    }
    .calendarFilter{
        width:185px;
        height: 35px;
    }

    .calendarFilter svg{
        margin-right: 5px !important;
    }
  
    .calendarFilter .dateFilter{
        font-size: 12px;
    }
  
    .searchInput{
        font-size: 12px;
    }   
  
    .hiringRequest {
        font-size: 26px;
    }
  
    .filterRight .focusCheckBox{
        max-width: 115px;
        align-items: center;
    }

    .filterRight .focusCheckBox span{
        font-size: 12px;
        line-height: 16px;
    }
  
    .filterSetsInner p{
        font-size: 12px;
    }
  
    .addFilter{
        width: 125px;
        gap: 8px;
    }

    .label {
        font-size: 12px;
    }

    .btnPrimary {
        font-size: 12px;
        line-height: 16px;
        padding: 12px 25px;
    }

    .togglebtn {
        height: 40px
    }

    .filterSets{
        padding: 15px;
    }

    .filterRight{
        gap: 15px;
    }
  
    .addFilter{
        width: 125px;
        gap: 8px;
    }

    .searchFilterSet{
        width: 200px;
        height: 35px;
    }

    .searchInput{
        font-size: 10px;
    }   

    .paginationFilter {
        width: 65px;
        height: 35px;
    }
   
    .addFilter{
        height: 35px;
    }

    .filterCount{
        width: 18px;
        height: 18px;
        font-size: 10px;
    }


  }
  
  /* Responsive css End */