/* .addNewContainer {
    width: 95%;
    margin: 0 auto;
} */

.addNewContainer {
    padding: 24px 40px;
}

.addHRTitle{
    font-size: 32px;
    font-weight: 500;
    /* margin-bottom: 80px; */
    margin-bottom: 56px;
}

.goBack {
    color: var(--uplers-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: var(--fontsize-uplers);
    font-weight: 500;
    margin: 8px 0 24px;
}

@media screen and (max-width: 1440px) {
    .addNewContainer {
        padding: 16px 24px;
    }
}