.loginContainer {
  display: flex;
  background-color: var(--background-color-dim);
  height: 100vh;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.loginColumn_1 {
  width: 35%;
  /* transition: all .6s ease; */
}

/* .loginColumn_1:hover {
    width: 43%;
    cursor: pointer;
    background-color: var(--color-sunlight);
}

.loginColumn_1:hover + .loginColumn_2 {
    width: 57%;
    background-color: var(--background-color-dim);
} */

.loginColumn_1_Body {
  margin-left: auto;
  margin-right: auto;
  padding: 9.9vh 40px 32px;
}

.loginLogo img {
  max-width: 20.235vw;
  max-height: 13.315vh;
}
.welcomePart {
  margin-top: 6.2vh;
  border-bottom: 1px solid #cecccc;
  margin-bottom: 2.48vh;
  padding-bottom: 2.48vh;
}
.welcomeTitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 4.13vh;
  line-height: 4.96vh;
  color: #000000;
  margin-bottom: 1.66vh;
}
.welcomeSubtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.86vh;
  line-height: 2.69vh;
  color: #000000;
  margin: 0;
}

.forgotpassword {
  font-size: 1rem;
  text-decoration: underline;
  color: var(--background-color-jade);
  margin: 25px 0 !important;
}

.loginFormPart {
  margin: 0;
}

.loginFormPart [class*="input_field_formField"] {
  margin-bottom: 2.48vh;
}
.loginFormPart [class*="input_field_formField"]:last-child {
  margin-bottom: 0;
}
.loginFormPart [class*="input_field_inputLabel"] {
  white-space: nowrap;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 8px;
  display: inline-block;
}
.loginFormPart [class*="input_field_inputBox"] {
  margin: 0;
}

.loginColumn_2 {
  width: 65%;
  background-color: var(--color-sunlight);
}

.loginHeadline {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.loginHeadline h1 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  margin: 0;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 30px;
}

/*---------------------- FOR SCREEN LESS THAN 767PX ------------------- */
@media screen and (max-width: 767px) {
  .loginLogo img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  .loginColumn_1 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
  }
  .loginColumn_1_Body {
    margin-top: 5%;
  }
  .loginColumn_2 {
    display: none;
  }
}
