.transparentBtnGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    
}
.disabledTransparentBtnGroup{
    opacity: .5;
    cursor: no-drop;
}
.btnLabel{
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--uplers-black);
    font-size: 14px;
    font-weight: 500;
}
.btnPrimary {
    background: #FFDA30;
    border: 1px solid #FFDA30;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #232323;
    padding: 17px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.btnPrimaryOutline {
    background: var(--background-color-light);
    border: 1px solid #FFDA30;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #232323;
    padding: 17px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.btnPrimaryOutline:hover,
.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}