

.addHRTitle {
    font-size: 32px;
    font-weight: 500;
    /* margin-bottom: 35px; */
    margin-bottom: 24px;
}

/* .addNewContainer {
    width: 95%;
    margin: 0 auto;
} */

.btnPrimaryResendBtn{
  background: var(--color-sunlight);
  border: 0;
  border-radius: 8px;
  box-shadow: none;
  color: var(--uplers-black);
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 17px;
  margin-top: 30px;
  outline: none;
  padding: 12px 28px;
}

.addNewContainer {
  padding: 24px 40px;
}

.newHR {
    padding: 1px 0;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.addNewPageTitle {
    margin-bottom: 55px;
}

.addNewPageTitle h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: var(--uplers-black);
    margin: 0;
}

.addNewTabsWrap {
    margin: 0;
}

.row {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  .colLg6 {
    width: 50%;
    padding: 0 12px;
  }
  .colLg12 {
    width: 100%;
    padding: 0 12px;
  }
.viewHRDetailsItem {
    padding-bottom: 32px;
    margin-bottom: 32px;
    gap: 24px;
    border-bottom: 1px solid #cecccc;
    display: flex;
  }
  .viewHRDetailsItem:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .viewHRLeftDetails {
    width: 33.33%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
  }
  .viewHRLeftDetails p {
    margin-bottom: 0;
  }
  
  .viewHRLeftDetails h2 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
    margin-bottom: 8px;
  }
  .viewHRLeftDetails h2:last-child {
    margin-bottom: 0;
  }
  
  .viewHRRightDetails {
    flex: 1;
  }
  .viewHRDetailsBoxWrap {
    background: #ffffff;
    border-radius: 8px;
  }
  .viewHRDetailsBoxWrap .viewHRDetailsBox {
    background: transparent;
    box-shadow: none;
  }
  .viewHRDetailsBox {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(204, 238, 204, 0.25);
    border-radius: 8px;
    padding: 32px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
  }
  
  .viewHRDetailsBox p {
    margin-bottom: 0;
  }
  
  .viewHRDetailsBox + .viewHRDetailsBox {
    margin-top: 24px;
  }
  
  .viewHRDetailsBox h3 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
    margin: 0 0 16px;
  }
  
  .viewHRDetailsBox ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #232323;
  }
  
  .viewHrJDDetailsBox  ul{
    list-style-type: inherit !important;
    padding-left: 40px;
    margin: revert;
    padding: revert;
  }
  
  .viewHRDetailsBox ul li {
    margin-bottom: 16px;
  }
  .viewHRDetailsBox ul li:last-child {
    margin-bottom: 0;
  }
  .viewHRDetailsBox ul li span {
    color: #7c7c7c;
  }
  .viewHRDetailsBox ul li a {
    text-decoration-line: underline;
    color: #0278e4;
    cursor: pointer;
  }

  .summaryContainer {
    display: flex;
    justify-content: end;
    padding: 10px;
  }
  
  .summaryCard {
    padding: 15px;
    border: 1px solid;
    background: white;
    width: fit-content;
    border-radius: 6px;
    margin: 0 5px;
  }

  .summaryCard span {
    font-weight: bold;
  }

  .colMd12 {
    width: 100%;
    padding: 0 25px;
  }

  .userPanelAction button {
    background: var(--text-color-purity);
    border: 1px solid #cecccc;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 4px 10px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    margin-right: 5px;
  }

  .userPanelAction .btnPrimary {
    background: var(--color-sunlight);
    border-color: var(--color-sunlight);
  }
  .userPanelAction button:disabled {
    background: #cecccc;
    border: 1px solid #cecccc;
    cursor: not-allowed;
  }

  .userPanelAction .btnPrimaryRemove {
    background: var(--color-danger);
    border-color: var(--color-sunlight);
    color: #fff;
  }
  

  .userPanelAction {
      display: flex;
  }

  .formPanelAction {
    display: flex;
  }

  .titleName {
    font-size: small;
    font-weight: bold;
    margin-bottom: 0;
  }

  .formPanelAction button {
    background: var(--text-color-purity);
    border: 1px solid #cecccc;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
  }
  .formPanelAction .btnPrimary {
    background: var(--color-sunlight);
    border-color: var(--color-sunlight);
  }

  .formPanelAction button:disabled {
    background: #cecccc;
    border: 1px solid #cecccc;
    cursor: not-allowed;
  }
  
  .formPanelAction button + button {
    margin-left: 24px;
  }

  .updateTRTitle {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #676767;
  }
  .updateTRTitle span {
    color: #232323;
    font-weight: 600;
  }
  
  .updateTRTitle h2 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
    margin: 0 0 16px;
  }
  .updateTRTitle p {
    margin-bottom: 0;
  }

  .groupUserContainer{
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .userNameContainer{
    /* width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */

    width: 100%;
    /* display: grid; */
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px 0 0;
    padding: 20px;
  }

  .userNameContainer li {
    display: flex;
    height: 27px;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF8D6;
    color: #232323;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
  }

  .groupUserContainer .waSelectGroup{
    width: 240px;
  }

  .groupUserContainer .waSelectGroup [class*="ant-select"] [class*="ant-select-selector"] [class*="ant-select-selection-search"] [class*="ant-select-selection-search-input"]{    
    height: 18px;
  }

@media screen and (max-width: 1440px) {
  .addNewContainer {
    padding: 16px 24px;
  }
  .addHRTitle{
    font-size: 28px;
  }
}