

.addHRTitle {
    font-size: 32px;
    font-weight: 500;
    /* margin-bottom: 35px; */
    margin-bottom: 24px;
}

/* .addNewContainer {
    width: 95%;
    margin: 0 auto;
} */

.btnPrimaryResendBtn{
  background: var(--color-sunlight);
  border: 0;
  border-radius: 8px;
  box-shadow: none;
  color: var(--uplers-black);
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 17px;
  margin-top: 30px;
  outline: none;
  padding: 12px 28px;
}

.addNewContainer {
  padding: 24px 40px;
}

.onboardDetailsContainer{
    margin-top: 10px;
    padding: 10px;
    background: white;
    border-radius: 20px;
}

.engagementModalHeaderButtonContainer{
  display: flex;
  margin: 10px 10px;
  justify-content: flex-end;
}

.engagementModalHeaderAddBtn {
  color:#FFFFFF;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 28px;
  outline: none;
  border: 1px solid #CECCCC;
  cursor: pointer;
  background-color: #87b87f;
}

.feedbackLabel{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: -0.5px -0.5px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 4px 8px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.documentStatus{
  display: flex  ;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}
.documentStatus.green .innerBorder{
  background: #32936F;
}
.documentStatus.blue .innerBorder{
  background: rgb(0, 112, 224);
}
.documentStatus.red .innerBorder{
  background: rgb(179, 76, 1);
}

.documentStatus.green {
  background: #EFF7F0;
}
.documentStatus.blue {
  background: rgb(232, 242, 253);
}
.documentStatus.red {
  background: rgb(249, 231, 218);
}

.documentStatus.green .documentStatusText{
  color: #32936F;
}
.documentStatus.blue .documentStatusText{
  color: rgb(0, 112, 224);
}
.documentStatus.red .documentStatusText{
  color: rgb(179, 76, 1);
}
.documentStatusText {
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
}
.documentStatusText span {
  font-weight: 600;
}

.newHR {
    padding: 1px 0;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.addNewPageTitle {
    margin-bottom: 55px;
}

.addNewPageTitle h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: var(--uplers-black);
    margin: 0;
}

.addNewTabsWrap {
    margin: 0;
}

.row {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  .colLg6 {
    width: 50%;
    padding: 0 12px;
  }
  .colLg12 {
    width: 100%;
    padding: 0 12px;
  }
.viewHRDetailsItem {
    padding-bottom: 32px;
    margin-bottom: 32px;
    gap: 24px;
    border-bottom: 1px solid #cecccc;
    display: flex;
  }
  .viewHRDetailsItem:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .viewHRLeftDetails {
    width: 33.33%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
  }
  .viewHRLeftDetails p {
    margin-bottom: 0;
  }
  
  .viewHRLeftDetails h2 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
    margin-bottom: 8px;
  }
  .viewHRLeftDetails h2:last-child {
    margin-bottom: 0;
  }
  
  .viewHRRightDetails {
    flex: 1;
  }
  .viewHRDetailsBoxWrap {
    background: #ffffff;
    border-radius: 8px;
  }
  .viewHRDetailsBoxWrap .viewHRDetailsBox {
    background: transparent;
    box-shadow: none;
  }
  .viewHRDetailsBox {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(204, 238, 204, 0.25);
    border-radius: 8px;
    padding: 32px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
  }
  
  .viewHRDetailsBox p {
    margin-bottom: 0;
  }
  
  .viewHRDetailsBox + .viewHRDetailsBox {
    margin-top: 24px;
  }
  
  .viewHRDetailsBox h3 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #232323;
    margin: 0 0 16px;
  }
  
  .viewHRDetailsBox ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #232323;
  }
  
  .viewHrJDDetailsBox  ul{
    list-style-type: inherit !important;
    padding-left: 40px;
    margin: revert;
    padding: revert;
  }
  
  .viewHRDetailsBox ul li {
    margin-bottom: 16px;
  }
  .viewHRDetailsBox ul li:last-child {
    margin-bottom: 0;
  }
  .viewHRDetailsBox ul li span {
    color: #7c7c7c;
  }
  .viewHRDetailsBox ul li a {
    text-decoration-line: underline;
    color: #0278e4;
    cursor: pointer;
  }

  .summaryContainer {
    display: flex;
    justify-content: end;
    padding: 10px;
  }
  
  .summaryCard {
    padding: 10px 15px;
    border: 1px solid;
    background: white;
    width: fit-content;
    border-radius: 6px;
    margin: 0 5px;
  }

  .summaryCard span {
    font-weight: bold;
  }

  .colMd12 {
    width: 100%;
    padding: 0 25px;
  }

  .userPanelAction button {
    background: var(--text-color-purity);
    border: 1px solid #cecccc;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 4px 10px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    margin-right: 5px;
  }

  .userPanelAction .btnPrimary {
    background: var(--color-sunlight);
    border-color: var(--color-sunlight);
  }
  .userPanelAction button:disabled {
    background: #cecccc;
    border: 1px solid #cecccc;
    cursor: not-allowed;
  }

  .userPanelAction .btnPrimaryRemove {
    background: var(--color-danger);
    border-color: var(--color-sunlight);
    color: #fff;
  }
  

  .userPanelAction {
      display: flex;
  }

  .formPanelAction {
    display: flex;
  }

  .titleName {
    font-size: small;
    font-weight: bold;
    margin-bottom: 0;
  }

  .formPanelAction button {
    background: var(--text-color-purity);
    border: 1px solid #cecccc;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
  }
  .formPanelAction .btnPrimary {
    background: var(--color-sunlight);
    border-color: var(--color-sunlight);
  }

  .formPanelAction button:disabled {
    background: #cecccc;
    border: 1px solid #cecccc;
    cursor: not-allowed;
  }
  
  .formPanelAction button + button {
    margin-left: 24px;
  }

  .updateTRTitle {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #676767;
  }
  .updateTRTitle span {
    color: #232323;
    font-weight: 600;
  }
  
  .updateTRTitle h2 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
    margin: 0 0 16px;
  }
  .updateTRTitle p {
    margin-bottom: 0;
  }

  .groupUserContainer{
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .userNameContainer{
    /* width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */

    width: 100%;
    /* display: grid; */
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px 0 0;
    padding: 20px;
  }

  .userNameContainer li {
    display: flex;
    height: 27px;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF8D6;
    color: #232323;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
  }

  .groupUserContainer .waSelectGroup{
    width: 240px;
  }

  .groupUserContainer .waSelectGroup [class*="ant-select"] [class*="ant-select-selector"] [class*="ant-select-selection-search"] [class*="ant-select-selection-search-input"]{    
    height: 18px;
  }

/**/
.viewHRDetailsBoxWrap .viewComDetails ul li > label,
.viewHRDetailsBoxWrap .comClientDetail ul > li > label,
.viewHRDetailsBoxWrap .comEngDetails ul > li > label{
  color: #7c7c7c;
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 18px;
}

.viewHRDetailsBoxWrap .viewComDetails ul li.fullWidth,
.viewHRDetailsBoxWrap .comFundingDetails ul li.fullWidth,
.viewHRDetailsBoxWrap .comEngDetails ul li.fullWidth
{
  width: 100%;
}

.viewHRDetailsBoxWrap .viewComDetails ul li.aboutComDetails{
  width: 100%;
  font-weight: normal;
}

.viewHRDetailsBoxWrap .viewComDetails > ul,
.viewHRDetailsBoxWrap .comFundingDetails > ul{
  flex-wrap: wrap;
  column-gap: 32px;
  display: flex;
}

.viewHRDetailsBoxWrap .viewComDetails > ul > li{
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #232323;
}

.viewHRDetailsBoxWrap .viewComDetails > ul > li:last-child,
.viewHRDetailsBoxWrap .comFundingDetails > ul > li:last-child,
.viewHRDetailsBoxWrap .comCultureDetails > ul > li:last-child{
  margin-bottom: 0;
}

.viewHRDetailsBoxWrap .viewComDetails ul li .m0,
.viewHRDetailsBoxWrap .comFundingDetails ul li .m0{
  margin: 0;
}

.viewHRDetailsBoxWrap .comFundingDetails ul li > label{
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #232323;
  margin-bottom: 8px;
}

.viewHRDetailsBoxWrap .comFundingDetails > ul > li{
  color: #676767;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: calc(33.33% - 22px);
  margin-bottom: 24px;
}

.viewHRDetailsBoxWrap .comCultureDetails > ul > li{
  color: #676767;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
}

.viewHRDetailsBoxWrap .comCultureDetails ul li > label{
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #232323;
  margin-bottom: 8px;
}

.viewHRDetailsBoxWrap .comClientDetail > ul{
  flex-wrap: wrap;
  gap: 24px 32px;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #cecccc;
  margin-bottom: 24px;
}

.viewHRDetailsBoxWrap .comClientDetail > ul:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.viewHRDetailsBoxWrap .comClientDetail > ul > li{
  width: calc(33.33% - 22px);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #232323;
}

.viewHRDetailsBoxWrap .comHighlightedLabel{
  margin: 0;
}

.viewHRDetailsBoxWrap .comHighlightedLabel > ul{
  margin: 0;
  flex-wrap: wrap;
  gap: 8px;
  display: flex;
}

.viewHRDetailsBoxWrap .comHighlightedLabel > ul > li{
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #232323;
  border: 1px solid #fff8d6;
  background: #fff8d6;
  border-radius: 10px;
  margin-bottom: 0;
}


.comCultureDetails .comDetailsImages,
.comCultureDetails .comDetailsVideos{
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

.comDetailsImages .comDetailsImgItem,
.comDetailsVideos .comDetailsVideoItem{
  margin: 0;
  width: calc(33.33% - 14px);
  border-radius: 16px;
  overflow: hidden;
}

.comDetailsImages .comDetailsImgInner,
.comDetailsVideoItem [class*="video-wrapper"]{
  padding-bottom: 66.66%;
  background: #f7f7f7;
  position: relative;
  border-radius: 16px;
}

.comDetailsImages .comDetailsImgInner img,
.comDetailsVideoItem [class*="video-wrapper"] img,
.comDetailsVideoItem [class*="video-wrapper"] video,
.comDetailsVideoItem [class*="video-wrapper"] iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: contain;
  border: none;
  outline: none;
  margin: 0 !important;
}

.viewHRDetailsBoxWrap .comEngDetails .comEngCheckBox{
  gap: 24px;
  display: flex;
}

.viewHRDetailsBoxWrap .comEngDetails .comEngCheckBox > label {
  display: inline-flex;
  margin: 0;
  font-weight: 500;
  color: #7c7c7c;
}

.viewHRDetailsBoxWrap .comEngDetails .comEngCheckBox > label span{
  color: #7c7c7c;  
}

.viewHRDetailsBoxWrap .comEngDetails > ul{
  flex-wrap: wrap;
  gap: 24px 32px;
  display: flex;
}

.viewHRDetailsBoxWrap .comEngDetails > ul > li{
  width: calc(33.33% - 22px);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #232323;
}

.viewHRDetailsBoxWrap .comEngDetails .comWAMember table > thead > tr:first-child th:first-child,
.viewHRDetailsBoxWrap .comEngDetails .comWAMember table > tbody > tr > td:first-child{
  padding-left: 0 !important;
}


/*Responsive*/
@media screen and (max-width: 1440px) {
  .addNewContainer {
    padding: 16px 24px;
  }
  .addHRTitle{
    font-size: 28px;
  }
}