.hiringRequestContainer {
    padding: 24px 40px;
}

.snapshotContainer {
  padding: 20px;
}

.filterContainer{
  border-radius: 10px;
  margin: 24px auto;
  background-color: var(--background-color-light);
}
.filterSets{
margin-left: auto;
margin-right: auto;
padding: 24px;
display: flex;
border-radius: 10px;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;    
}
.filterSetsInner{
  display: flex;
  align-items: center;
}
.priorityFilterSet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.label{
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--uplers-lightBlack);
}
.paginationFilter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 71px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    cursor: pointer;
}
.addnewHR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filterSetsInner p{
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.addFilter{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 167px;
    height: 44px;
    border: 1px solid var(--background-color-metal);
}

.filterLabel{
    font-weight: 500;
    font-size: .7vw;
}

.filterCount{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: var(--fontsize-uplers);
    background-color: var(--color-sunlight);
    border-radius: 50%;
    font-weight: 700;
}
.calendarFilterSet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}
.label{
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--uplers-lightBlack);
}
.calendarFilter{
    width:250px ;
    height: 44px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 1px solid var(--background-color-metal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.calendarFilter [class*="react-datepicker-popper"]{
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    width: 100% !important;
    margin: 40px 0 30px;
    min-width: 220px;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  > div
  > [class*="react-datepicker"] {
  margin-left: 0;
  min-width: 100%;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  [class*="react-datepicker__navigation"]:before {
  top: 14px;
}
.calendarFilter
  [class*="react-datepicker-popper"]
  [class*="react-datepicker__day-names"] {
  margin-top: 5px;
}
.calendarFilter
  [class*="react-datepicker__month-container"]
  [class*="react-datepicker__month"] {
  margin-bottom: 10px;
}

.dateFilter{
    cursor: pointer;
    width: 102%;
    outline: none;
    border:none;
    color: var(--uplers-black);
    font-weight: 500;
}
.hiringRequest {
    font-size: 32px;
    font-weight: 500;
}
.btnPrimary {
    background: #FFDA30;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #232323;
    padding: 17px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}

.overwriteTableColor{
  background-color: rgb(233, 233, 233) !important;
}

.overwriteTableColor tr th{
   background-color: rgb(233, 233, 233) !important;
   border-radius: 0px !important;
   text-align: center;
}

.btnCancle {
    background: var(--text-color-purity);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    margin-left: 10px;
}

.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}
.searchFilterSet{
    border: 1px solid var(--background-color-metal);
    border-radius: 8px;
    width: 300px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.searchInput{
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    color: var(--uplers-black);
    font-weight: 500;
}

@media only screen and (max-width: 1440px) {
    .hiringRequestContainer {
        padding: 16px 24px;
    }
    .hiringRequest {
        font-size: 26px;
    }
    .btnPrimary {
        font-size: 12px;
        line-height: 16px;
        padding: 12px 25px;
    }
}