.hrFieldContainer {
    width: 100%;
}

.reqField {
    color: var(--uplers-black);
    font-weight: 700;
    font-size: 14px;
    margin-left: 4px;
}

.midDivider {
    margin:56px 0;
    border-color: rgba(206, 204, 204, 0.5);
}

.partOne {
    display: flex;
}

.hrFieldLeftPane {
    width: 33.33%;
    padding-right: 30px;
}

.addSalesItem {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--uplers-border-color);
}
.hrFieldLeftPane h3 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--uplers-black);
    margin: 0 0 8px;
}

.hrFieldLeftPane p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7C7C7C;
}

.hrFieldRightPane {
    flex: 1;
}

.row {
    margin: 0 -9px;
    flex-wrap: wrap;
    display: flex;
}

.colMd4 {
    width: 33.33%;
    padding: 0 9px;
}

.colMd6 {
    width: 50%;
    padding: 0 9px;
}

.colMd12 {
    width: 100%;
    padding: 0 9px;
}

.formGroup {
    margin: 0 0 32px;
}

.formGroup [class*="ant-select-selection-search-input"] {
    height: auto !important;
    padding: 16px 16px !important;
}

.formGroup label {
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #676767;
    margin: 0 0 8px;
    display: inline-block;
}

.formGroup .ant-select {
    width: 100%;
}

.addSalesItem {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--uplers-border-color);
}

.infoNotes {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7C7C7C;
    margin: 0 0 40px;
}

.formPanelAction {
    padding: 0 0 40px;
    display: flex;
}

.formPanelAction button {
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #232323;
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
}

.formPanelAction .btnPrimary {
    background: #FFDA30;
    border-color: #FFDA30;
}

.formPanelAction button+button {
    margin-left: 24px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.reqExperience {
    margin: 0;
    flex-wrap: wrap;
    display: flex;
}

.reqExperience label {
    display: none;
}

.reqExperience [class*="formField"] {
    margin: 0;
    width: 50%;
}

.reqExperience [class*="formField"]:first-child input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.reqExperience [class*="formField"]:last-child input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

[class*="ant-select-dropdown"] {
    z-index: 99999 !important;
}

.phoneNoGroup {
    margin: 0;
    flex-wrap: wrap;
    display: flex;
}

.phoneNoGroup label {
    width: 100%;
}

.phoneNoCode {
    width: 120px;
}

.phoneNoCode [class*="ant-select-selector"] {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.phoneNoInput {
    flex: 1;
}

.phoneNoInput [class*="formField"] {
    margin: 0;
}

.phoneNoInput input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
}

.newUserRadioGroup {
    display: flex;
    align-items: center;
}
.radioGroup {
    flex-direction: column;
    display: flex;
}

.radioGroup [class*="ant-radio-wrapper"] {
    margin: 0 0 16px 0;
    min-height: 25px;
    padding-left: 35px;
}

.radioGroup [class*="ant-radio-wrapper"]:last-child {
    margin-bottom: 0;
}

.radioGroup [class*="ant-radio-wrapper"] [class*="ant-radio"] [class*="ant-radio-inner"] {
    width: 25px;
    height: 25px;
}

.radioGroup [class*="ant-radio-wrapper"] [class*="ant-radio"] [class*="ant-radio-inner"]:after {
    width: 15px;
    height: 15px;
}

.radioFormGroup {
    margin-bottom: 32px;
}

.radioFormGroup>label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    /* line-height: 16px; */
    color: var(--uplers-lightBlack);
    margin: 0 16px 0 0;
    display: inline-block;
}
.Card {
    border-radius: 8px;
    background-color: var(--background-color-light);
}
.partWise {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.CardBody {
    /* width: 90%; */
    margin: 0 auto;
    font-size: 14px;
    padding: 24px;
}

.companyName{
    display: flex;
        align-items: center;
        /* justify-content: center; */
        padding-top: 5px;
}
/* Radio button */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container p {
    font-size: var(--fontsize-tough);
    font-weight: 500;
    color: var(--uplers-black);
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    border: 1px solid var(--uplers-black);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}


.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-sunlight);
}

.timeSlotRow{
    margin: 0 -9px 30px;
    flex-wrap: wrap;
    display: flex;
}
.timeSlotLabel{
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #676767;
    margin: 0 0 8px;
    display: inline-block;
}
.timeSlotLabel span{
    color: var(--uplers-black);
    font-weight: 700;
    font-size: 14px;
    margin-left: 4px;
}
.timeSlotItem{
    position: relative;
}
.timeSlotItem svg{
    position: absolute;
    top: 19px;
    right: 26px;
    z-index: 1;
    pointer-events: none;
}
.timeSlotItem [class*="react-datepicker__input-container"] input{
    text-align: left;
    width: 100%;
    padding: 16px 40px 16px 16px;
    background: var(--background-color-light);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--uplers-black);
    outline: 1px solid transparent;
    transition: all 0.25s ease 0s;
}

.timeSlotItem [class*="react-datepicker__input-container"] input::-webkit-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input::-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:-ms-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:focus {
    outline-color: var(--color-sunlight);
    border-color: var(--color-sunlight);
}
.timeSlotItem [class="react-datepicker-popper"]{
    right: 16px !important;
    left: 0 !important;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    box-shadow: -4px 4px 20px rgba(57, 57, 57, 0.09);
    margin: -1px 0;
    padding: 4px 0;
}

.timeSlotItem [class="react-datepicker"],.timeSlotItem [class*="react-datepicker--time-only"] {
    margin-left: 0;
    width: 100%;
    box-shadow: none !important;
    vertical-align: middle;
}

.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-container"],.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-box"]{width:100%}
.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-box"] [class*="react-datepicker__time-list"] li[class*="react-datepicker__time-list-item--selected"]{
    background: #FFDA30 !important;
    color: #232323 !important;
}
.timeSlotItem [class="react-datepicker__month-container"] {
    width: 100%;
}
.timeSlotItem [class*="react-datepicker__header "]{
    border-bottom: 1px solid #E8E8E8;
}
.timeSlotItem [class="react-datepicker-popper"] [class*="react-datepicker__navigation"]:before {
    top: 14px;
}
.timeSlotItemField{
    margin: 0 0 32px;
}
.timePickerItem{
    margin: 0;
}
.timeSlotItem [class="react-datepicker-popper"]{
    width: 40%;
    right: auto !important;
}
.requestByRadio{
    align-items: center;
    display: flex;
}
.requestByRadio [class*="ant-radio-group "]{
    flex-direction: row;
    display: flex;
}
.requestByRadio [class*="ant-radio-group "] label{
    margin: 0 16px 0 0;
}
.mB0 [class*="hrInputFields"]{
    margin-bottom: 0 !important;
}


.ant-select .ant-select-selector .ant-select-selection-item{
    color: red;
}

.error {
    color: var(--danger-color);
    font-size: var(--fontsize-tough);
}


/* react datepicker */


.timeSlotItem {
    width: 100%;
    position: relative;
}

.timeSlotItem svg {
    position: absolute;
    top: 19px;
    right: 26px;
    z-index: 1;
    pointer-events: none;
}

.timeLabel {
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #676767;
    margin: 0 0 8px;
    display: inline-block;
}

.timeSlotItem [class*="react-datepicker__input-container"] input {
    text-align: left;
    width: 100%;
    padding: 16px 40px 16px 16px;
    background: var(--background-color-light);
    border: 1px solid #CECCCC;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--uplers-black);
    outline: 1px solid transparent;
    transition: all 0.25s ease 0s;
}

.timeSlotItem [class*="react-datepicker__input-container"] input::-webkit-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input::-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:-ms-input-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:-moz-placeholder {
    color: rgba(107, 107, 107, 0.6);
    opacity: 1;
}

.timeSlotItem [class*="react-datepicker__input-container"] input:focus {
    outline-color: var(--color-sunlight);
    border-color: var(--color-sunlight);
}

.timeSlotItem [class="react-datepicker-popper"] {
    right: 16px !important;
    left: 0 !important;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    box-shadow: -4px 4px 20px rgba(57, 57, 57, 0.09);
    margin: -1px 0;
    padding: 4px 0;
    width: 260px;
}

.timeSlotItem [class="react-datepicker"],
.timeSlotItem [class*="react-datepicker--time-only"] {
    margin-left: 0;
    width: 100%;
    box-shadow: none !important;
    vertical-align: middle;
}

.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-container"],
.timeSlotItem [class*="react-datepicker--time-only"] [class*="react-datepicker__time-box"] {
    width: 100%
}

.timeSlotItem [class="react-datepicker__month-container"] {
    width: 100%;
}

.timeSlotItem [class*="react-datepicker__header "] {
    border-bottom: 1px solid #E8E8E8;
}

.timeSlotItem [class="react-datepicker-popper"] [class*="react-datepicker__navigation"]:before {
    top: 14px;
}

.timeSlotItem.timePickerItem [class="react-datepicker-popper"] {
    width: 60%;
    right: auto !important;
}

@media screen and (max-width: 1440px) {
    .formPanelAction {
      padding-bottom: 32px;
    }
    .hrFieldLeftPane {
        width: 29%;
        padding-right: 16px;
    }
    .hrFieldLeftPane h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .hrFieldLeftPane p {
        font-size: 14px;
        line-height: 22px;
    }
}