.hiringRequestContainer {
    width: 95%;
    margin: 0 auto;
}

.goback{
    color: var(--uplers-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer ;
    font-size:var(--fontsize-uplers);
    font-weight: 500;
}
.hrDetails{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hrDetailsLeftPart,.hrDetailsRightPart{
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.hiringRequestIdSets {
    font-size: 2rem;
    font-weight: 500;
}

.hiringRequestPriority{
    background-color: var(--background-color-light);
    border: 2px solid var(--uplers-border-color);
    padding: 10px 15px;
    border-radius: 8px;
}

.newHR {
    padding: 1px 0;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newHR label {
    padding: 0 20px;
    font-weight: 500;
    font-size: .8vw;
}

.iconDown {
    height: 50px;
    width: 50px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background-color-light);
}



.portal{
    gap: 2rem;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.clientPortal{
    width:33%;
}

.talentPortal{
    width: 66%;
    display: flex;
    width: 70%;
}

.activityFeed{
    margin-top: 50px;
}


@media screen and (min-width:1200px) and (max-width:1300px) {
    .hiringRequestIdSets {
            font-size: 1.5rem;
            font-weight: 500;
        }
    
    
}
@media only screen and (max-width:1260px) {
   
    .actionItem {
        width: 45%;
        gap:0;
        justify-content: space-between;
    }
}