.hiringRequestContainer {
    width: 95%;
    margin: 0 auto;
}

.goback{
   
    color: var(--uplers-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer ;
    font-size:var(--fontsize-uplers);
    font-weight: 500;
}
.hrDetails{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hrDetailsLeftPart,.hrDetailsRightPart{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.hiringRequestIdSets {
    font-size: 2rem;
    font-weight: 500;
}

.btnPrimary {
    background: #FFDA30;
    border: 1px solid #FFDA30;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #232323;
    padding: 17px 28px;
    outline: none;
    transition: all 0.35s ease 0s;
    cursor: pointer;
    box-shadow: none;
}
.btnPrimaryOutline{
    background: var(--background-color-light);
        border: 1px solid #FFDA30;
        border-radius: 8px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: #232323;
        padding: 17px 28px;
        outline: none;
        transition: all 0.35s ease 0s;
        cursor: pointer;
        box-shadow: none;
}
.btnPrimaryOutline:hover,.btnPrimary:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}

.hiringRequestPriority{
    background-color: var(--background-color-light);
    border: 2px solid var(--uplers-border-color);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
}

.hiringRequestPriority:hover{
    border: 2px solid var(--background-color-light);
    background-color: var(--color-sunlight);
    transition: all .2s ease;
}
.hiringRequestPriority:hover>.deleteSVG{
   transform: scale(.9);
   transition: all .2s ease;
}


.newHR {
    padding: 1px 0;
    background-color: var(--color-sunlight);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newHR label {
    padding: 0 20px;
    font-weight: 500;
    font-size: .8vw;
}

.iconDown {
    height: 50px;
    width: 50px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background-color-light);
}



.portal{
    gap: 2rem;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}
.clientPortal{
    width:33%;
}

.talentPortal{
    width: 66%;
    display: flex;
    width: 70%;
}

.activityFeed{
    margin-top: 50px;
}


@media screen and (min-width:1200px) and (max-width:1300px) {
    .hiringRequestIdSets {
            font-size: 1.5rem;
            font-weight: 500;
        }
    
    
}
@media only screen and (max-width:1260px) {
   
    .actionItem {
        width: 45%;
        gap:0;
        justify-content: space-between;
    }
}

.modalBody{
    padding:0 40px 
}

.tabContainer{
    margin-top: 32px;
    margin-bottom: 40px;
}

.tabContainer [class*="ant-tabs-nav-list"]{    
    width: 100%;
}
.tabContainer [class*="ant-tabs-top"] [class*="ant-tabs-nav-list"] [class*="ant-tabs-tab"]{    
    width: 50%;
    padding-left: 30px;
    justify-content: center;
}

.colMd12 {
    width: 100%;
    padding: 0 25px 0 0;
}

.reqField {
    color: var(--uplers-black);
    font-weight: 700;
    font-size: 14px;
    margin-left: 4px;
}
.row {
    gap: 8px;
    /* margin: 0 -9px; */
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.formPanelAction {
    /* padding: 32px 0; */
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.formPanelAction button {
    background: var(--text-color-purity);
    border: 1px solid var(--uplers-border-color);
    border-radius: 8px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--uplers-black);
    padding: 12px 28px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
}

.formPanelAction .btnPrimary {
    background: var(--color-sunlight);
    border-color: var(--color-sunlight);
}

.formPanelAction button+button {
    margin-left: 16px;
}
[class*="ant-select-dropdown"] {
    z-index: 1000 !important;
}