.newHR {
    padding: 1px 0;
    /* background-color: var(--color-sunlight); */
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
.newHR label {
    padding: 0 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: .8vw;
}
.iconDown {
    height: 50px;
    width: 50px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background-color-light);
}