.formGroup {
    margin: 0 0 32px;
}
.formField {
    width: 100%;
    margin: 0 0 32px;
}
.inputBoxError .inputfield {
    border: 1px solid var(--danger-color);
    outline-color: var(--danger-color);
}
.formField label {
    vertical-align: top;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #676767;
    margin: 0 0 8px;
    display: inline-block;
}
.error {
    color: var(--danger-color);
    font-size: var(--fontsize-tough);
}
.reqField {
    /* color: var(--uplers-black); */
    color: #E03A3A;
    font-weight: 700;
    font-size: 14px;
    margin-left: 4px;
}
.disabled {
    opacity: .7;
    cursor: not-allowed !important;
}
.addSalesItem {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--uplers-border-color);
}


