@import '~antd/dist/antd.css';

* {
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;  
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-slate) ;
  color: var(--uplers-black);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --secondary-color: #757d85;
  --warning-color: #ff9500;
  --danger-color: #fe0000;
  --danger-colorWithOpacity: #fdf2f3;
  --info-color: #12507d;
  --muted-color: #6c757d;
  --success-color: #28a745;
  --text-color-purity: #fff;
  --text-color-dark: #000;
  --uplers-black:#232323;
  --uplers-grey:#F5F5F5;
  --uplers-lightBlack:#676767;
  --uplers-dropUpHoverColor:#ededed;
  --background-color-light: #fff;
  --background-color-dim:#F9F9F9;
  --background-color-dark: #000;
  --background-color-slate:#f2f2f2;
  --background-color-ebony: #5c5b5b;
  --background-color-metal: #bdbbbb;
  --background-color-jade: #313131;
  --background-color-raven: #050301;
  --background-color-leather: #0b0705;
  --background-color-pulp: #f7edc9;
  --color-sunlight: #FFDA31;
  --color-TealWithOpacity: #f5fcf9;
  --color-champagne: #ffe87f;
  --uplers-border-color:#E8E8E8;
  --fontsize-strong: 40px;
  --fontsize-tough: 32px;
  --fontsize-pearl: 28px;
  --fontsize-trim: 24px;
  --fontsize-glossy: 20px;
  --fontsize-brittle: 16px;
  --fontsize-uplers:12px;

}

::selection {
  color: black;
  background-color: var(--color-sunlight);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}

::-webkit-scrollbar-track {
  
  background: var(--color-TealWithOpacity);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background: var(--color-sunlight)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-sunlight)
}


.ant-table-pagination-right {
  margin-top: 30px !important;
  justify-content: center !important;
}


.ant-pagination-item-active{
  background-color: var(--color-sunlight) !important;
  border-radius: 8px;
  border: none;
  
}
.ant-pagination-item-active a{
  font-weight: 700;
  color: var(--uplers-black) !important;
}


.ant-pagination-item a:hover{
  color: var(--color-sunlight) !important;
}


th {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  font-weight: 600 !important;
  background-color: var(--background-color-light) !important;
  font-size: 0.875rem;
  color: var(--uplers-black) !important;
  font-family: "Montserrat", sans-serif !important;
}

td {
  
  color: var(--uplers-black);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}


.ant-table{
  border-radius: 10px !important;
overflow-x: auto !important;
box-shadow: -4px 4px 20px rgba(166, 166, 166, 0.2);
}
table{
  line-height: 2;
  border-radius: 10px !important;
  background-color: var(--background-color-light) !important;
  

}
.ant-table-tbody>tr>td{
  padding: 25px 20px !important;
}

.react-datepicker{
  margin-left: -10%;
  border: none !important;
  box-shadow: -4px 4px 20px rgba(57, 57, 57, 0.09) !important;
}
.react-datepicker__header{
  background-color: var(--background-color-light) !important;
}
.react-datepicker__day--keyboard-selected{
  background-color: var(--color-sunlight) !important;
  border-radius: 50% !important;
  box-shadow: -4px 4px 20px rgba(57, 57, 57, 0.09) !important;
  color: var(--uplers-black) !important;
}

.react-datepicker__triangle{
  display: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range{
  background-color: var(--color-sunlight) !important;
  border-radius: 50% !important;
  box-shadow: -4px 4px 20px rgba(57, 57, 57, 0.09) !important;
    color: var(--uplers-black) !important;
}

.ant-checkbox-checked::after{
  border: none !important;
}

.ant-checkbox-checked .ant-checkbox-inner{
  background-color: var(--color-sunlight);
    border: none !important;
    
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner{
  border: 1px solid var(--background-color-metal);
}
.ant-row{
  flex-wrap: nowrap !important;
  gap: 2rem;
}

.ant-dropdown-menu{
  
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  background-color: var(--background-color-light);
}

.ant-dropdown-menu-item:hover{
 border-radius: 10px;
}
.ant-spin-dot-item {
  background-color: var(--color-sunlight);
}
